{% set title = "Исполнители | Музыкальный квиз Плюшевой наковальни" %}
{% include "components/header.html" %}
    <link rel="stylesheet" type="text/css" href="/styles/utils/info_panels.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/artists/artists.css?v={{version}}">
</head>
<body ondragstart="return false">
    {% include "components/menu.html" %}

    <div class="content">
        <h1>Исполнители</h1>
        <div class="description">Всего в базе находится {{get_word_form(artists_count, ['исполнитель', 'исполнителя', 'исполнителей'])}}</div>

        <select id="order">
            <option value="listen_count">Количество прослушиваний</option>
            <option value="name">Имя</option>
            <option value="tracks_count">Количество треков (всего)</option>
            <option value="tracks.size">Количество добавленных треков</option>
            <option value="metadata.created_at">Время создания</option>
            <option value="metadata.updated_at">Время обновления</option>
        </select>

        <select id="order-type">
            <option value="-1">по убыванию</option>
            <option value="1">по возрастанию</option>
        </select>

        <button onclick="SearchArtists()">Показать</button>

        <div class="short-artists-block">
            <h2>Недавно добавленные</h2>
            <div class="short-artists">
                {% for artist in last_added_artists %}{% include "components/short_artist.html" %}{% endfor %}
            </div>
        </div>

        <div class="short-artists-block">
            <h2>Самые прослушиваемые</h2>
            <div class="short-artists">
                {% for artist in top_listened_artists %}{% include "components/short_artist.html" %}{% endfor %}
            </div>
        </div>

        <div class="artists" id="artists"></div>

        <div class="loader hidden" id="loader">
            <img src="/images/loader.svg">
        </div>

        <div class="error" id="error"></div>
    </div>

    <div class="info-popup" id="info-popup"></div>
    <div id="info-block"></div>

    <script src="/js/utils/utils.js?v={{version}}"></script>
    <script src="/js/utils/fetch.js?v={{version}}"></script>
    <script src="/js/utils/swipe_handler.js?v={{version}}"></script>
    <script src="/js/utils/info_panels.js?v={{version}}"></script>
    <script src="/js/entities/artist.js?v={{version}}"></script>
    <script src="/js/artists/artists.js?v={{version}}"></script>
    <script>
        let page = 0
        let loading = false
        let infos = new InfoPanels()

        window.addEventListener("scroll", e => ScrollArtists())
    </script>
    {% include "components/footer.html" %}
</body>
</html>
