{% set title = "%s | Музыкальный квиз Плюшевой наковальни" % artist.name %}
{% include "components/header.html" %}
    <link rel="stylesheet" type="text/css" href="/styles/tracks/track.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/utils/info_panels.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/utils/player.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/artists/artist.css?v={{version}}">
</head>
<body ondragstart="return false">
    {% include "components/menu.html" %}

    <div class="content">
        <div class="artist-image">
            <img src="{{artist.image_urls[0] if artist.image_urls else '/images/artists/default.png'}}">
        </div>

        <div class="artist-name">{% if artist.source.name == "yandex" %}<a href="https://music.yandex.ru/artist/{{artist.source.yandex_id}}" target="_blank"><img src="/images/ya_music.svg"></a>{% endif %}{{artist.name}}</div>
        <div class="artist-stats">{% if artist.artist_type.to_rus() %}{{artist.artist_type.to_rus()}} | {% endif %}{% if artist.listen_count >= 1000 %}{{artist.format_listen_count()}} слушателей{% else %}{{get_word_form(artist.listen_count, ['слушатель', 'слушателя', 'слушателей'])}}{% endif %} | {{get_word_form(artist.tracks|length, ['трек', 'трека', 'треков'])}}</div>

        <div class="details">
            <div class="details-header" onclick="this.parentNode.classList.toggle('details-open')"><span class="details-icon"></span> Об исполнителе</div>
            
            <div class="details-content">
                {% if artist.description %}<div class="artist-about">{{artist.description}}</div>{% endif %}
                {% if artist.genres %}<div class="artist-about"><b>Жанры:</b> {% for genre in artist.genres %}{{ ", " if loop.index0 else "" }}{{genre.to_rus()}}{% endfor %}</div>{% endif %}
                <div class="artist-about"><b>Всего треков:</b> {{artist.tracks_count }}</div>
                <div class="artist-about"><b>Добавлен:</b> {{artist.metadata.created_at.strftime("%d.%m.%Y в %H:%M:%S")}} пользователем @{{artist.metadata.created_by }}</div>
                {% if not artist.metadata.is_initial() %}<div class="artist-about"><b>Обновлён:</b> {{artist.metadata.updated_at.strftime("%d.%m.%Y в %H:%M:%S")}} пользователем @{{artist.metadata.updated_by }}</div>{% endif %}
            </div>
        </div>

        <div class="artist-line"></div>

        <h3>Треки</h3>

        <div class="artist-tracks">
            {% for track in tracks %}
            <audio id="audio-{{track.track_id}}" data-track-id="{{track.track_id}}" {% if track.downloaded %}data-src="https://music.dronperminov.ru/tracks/{{track.track_id}}.mp3"{% else %}data-yandex-id="{{track.source.yandex_id}}"{% endif %} preload="metadata"></audio>

            <div class="track" id="track-{{track.track_id}}">
                <div class="track-main">
                    <div class="track-image"><img src="{{track.image_url if track.image_url else '/images/tracks/default.png'}}" loading="lazy" onclick="PlayPauseTrack('{{track.track_id}}')"></div>
                    <div>
                        <div class="track-title">{{track.title}}</div>
                        <div class="track-artists">
                            {% for artist_id in track.artists %}{{", " if loop.index0 else ""}}
                            {% if artist_id != artist.artist_id %}<a class="link" href="/artists/{{artist_id}}">{{artist2name[artist_id]}}</a>{% else %}<b>{{artist2name[artist_id]}}</b>{% endif %}{% endfor %}
                            {% if track.year > 0 %}({{track.year}}){% endif %}
                        </div>
                    </div>
                    <div class="track-controls">
                        <div class="loader hidden" id="loader-{{track.track_id}}">
                            <img src="/images/loader.svg">
                        </div>

                        <svg id="player-{{track.track_id}}-load" id="player-{{track.track_id}}-play" onclick="PlayTrack('{{track.track_id}}')" width="1.25em" height="1.25em" viewBox="0 0 7.1 7.1" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.495,2.573 L1.501,0.142 C0.832,-0.265 0,0.25 0,1.069 L0,5.931 C0,6.751 0.832,7.264 1.501,6.858 L5.495,4.428 C6.168,4.018 6.168,2.983 5.495,2.573" />
                        </svg>

                        <svg id="player-{{track.track_id}}-play" class="hidden" width="1.25em" height="1.25em" viewBox="0 0 7.1 7.1" xmlns="http://www.w3.org/2000/svg" onclick="SetMediaSessionMetadata('{{track.track_id}}')">
                            <path d="M5.495,2.573 L1.501,0.142 C0.832,-0.265 0,0.25 0,1.069 L0,5.931 C0,6.751 0.832,7.264 1.501,6.858 L5.495,4.428 C6.168,4.018 6.168,2.983 5.495,2.573" />
                        </svg>

                        <svg id="player-{{track.track_id}}-pause" class="hidden" width="1.25em" height="1.25em" viewBox="-0.7 -0.05 8.1 8.1" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1,0 C0.448,0 0,0.448 0,1 L0,7 C0,7.552 0.448,8 1,8 C1.552,8 2,7.552 2,7 L2,1 C2,0.448 1.552,0 1,0 M6,1 L6,7 C6,7.552 5.552,8 5,8 C4.448,8 4,7.552 4,7 L4,1 C4,0.448 4.448,0 5,0 C5.552,0 6,0.448 6,1" />
                        </svg>
                    </div>
                    <div class="track-menu">
                        <div class="vertical-ham" onclick="infos.Show({{track.track_id}})">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="player" id="player-{{track.track_id}}"></div>
                <div class="error" id="error-{{track.track_id}}"></div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="info-popup" id="info-popup"></div>

    {% for track in tracks %}
    <div class="info" id="info-{{track.track_id}}">
        <div class="close-icon" title="Закрыть"></div>

        <div class="info-image"><img src="{{track.image_url if track.image_url else '/images/tracks/default.png'}}" loading="lazy"></div>

        <div class="info-header-line">{% if track.source.name == "yandex" %}<a href="https://music.yandex.ru/track/{{track.source.yandex_id}}" target="_blank"><img src="/images/ya_music.svg"></a>{% endif %}{{track.title}}</div>
        {% if track.year > 0 %}<div class="info-line"><b>Год выхода:</b> {{track.year}}</div>{% endif %}
        {% if track.duration > 0 %}<div class="info-line"><b>Длительность:</b> {{track.format_duration()}}</div>{% endif %}

        {% if track.genres %}<div class="info-line"><b>Жанры:</b> {% for genre in track.genres %}{{ ", " if loop.index0 else "" }}{{genre.to_rus()}}{% endfor %}</div>{% endif %}
        {% if track.language.to_rus() %}<div class="info-line"><b>Язык:</b> {{track.language.to_rus()}}</div>{% endif %}
        <div class="info-line"><b>Добавлен:</b> {{track.metadata.created_at.strftime("%d.%m.%Y в %H:%M:%S")}} пользователем @{{track.metadata.created_by }}</div>
        {% if not track.metadata.is_initial() %}<div class="info-line"><b>Обновлён:</b> {{track.metadata.updated_at.strftime("%d.%m.%Y в %H:%M:%S")}} пользователем @{{track.metadata.updated_by }}</div>{% endif %}

        {% if track.lyrics %}
        <div class="details details-open">
            <div class="details-header" onclick="this.parentNode.classList.toggle('details-open')"><span class="details-icon"></span> Текст</div>
            <div class="details-content">
                <div class="track-lyrics">
                    {% set indices = track.lyrics.get_chorus_indices() %}
                    {% for line in track.lyrics.lines %}
                    <div class="track-lyrics-line{% if loop.index0 in indices %} track-lyrics-line-chorus{% endif %}">{{line.text}}</div>
                    {% if indices.get(loop.index0, -1) != indices.get(loop.index, -1) %}<br>{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}

    <script src="/js/utils/fetch.js?v={{version}}"></script>
    <script src="/js/utils/swipe_handler.js?v={{version}}"></script>
    <script src="/js/utils/info_panels.js?v={{version}}"></script>
    <script src="/js/utils/player.js?v={{version}}"></script>
    <script src="/js/utils/player_collection.js?v={{version}}"></script>
    <script src="/js/tracks/track.js?v={{version}}"></script>
    <script src="/js/artists/artist.js?v={{version}}"></script>
    <script>
        let infos = new InfoPanels()
        let players = new PlayerCollection()
    </script>
    {% include "components/footer.html" %}
</body>
</html>
