{% if user.username == show_user.username %}
{% set title = "Аналитика | Музыкальный квиз Плюшевой наковальни" %}
{% else %}
{% set title = "Аналитика пользователя @%s | Музыкальный квиз Плюшевой наковальни" % show_user.username %}
{% endif %}

{% include "components/header.html" %}
    <link rel="stylesheet" type="text/css" href="/styles/user/analytics.css?v={{version}}">
</head>
<body ondragstart="return false">
    {% include "components/menu.html" %}
    {% set main = analytics.main %}

    <div class="content">
        <h1>Аналитика</h1>

        <div class="profile">
            <div class="profile-image">
                <img src="{{show_user.avatar_url}}">
                <div class="profile-rating">{{rating}}</div>
            </div>
        </div>

        <div class="profile-name">{{show_user.full_name}}</div>

        <h3>Общая статистика</h3>

        {% if main.time.total > 0 %}
        <div class="analytics-block">
            <div onclick="ToggleTotalTimeChart()">
                <div class="analytics-total-value">{{main.time.format_total(main.time.total)}}</div>
                <div class="analytics-description">Суммарное время, потребовавшееся на ответ (нажмите, чтобы увидеть подробности)</div>
                <div class="analytics-bar analytics-bar-small" id="total-time-small-bar">
                    {% if main.time.other_total > 0 %}<div class="other-background" style="width: {{main.time.other_total_percents}}%"></div>{% endif %}
                    {% if main.time.group_total > 0 %}<div class="group-background" style="width: {{main.time.group_total_percents}}%"></div>{% endif %}
                </div>
            </div>

            <div class="analytics-chart" id="total-time-block">
                <div class="analytics-list">
                    {% if main.time.other_total > 0 %}
                    <div class="analytics-time-label"><span class="circle other-background"></span> Тренировка</div>
                    <div class="analytics-time">{{main.time.format_total(main.time.other_total)}}</div>
                    {% endif %}

                    {% if main.time.group_total > 0 %}
                    <div class="analytics-time-label"><span class="circle group-background"></span> Группы исполнителей</div>
                    <div class="analytics-time">{{main.time.format_total(main.time.group_total)}}</div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="analytics-block" id="questions-block">
            <div class="analytics-title analytics-title-interactive" onclick="ToggleQuestionsChart()">Количество ответов</div>
            <div class="analytics-description">Учитываются как ответы в <a class="link" href="/question">тренировке</a>, так и в <a class="link" href="/artists-groups">группах похожих исполнителей</a>. Нажмите на показатель, чтобы увидеть диаграмму.</div>
            <div class="analytics-items">
                <div class="analytics-item analytics-item-interactive" onclick="ShowQuestionsChart()">
                    <div class="analytics-item-value">{{main.questions.total}}</div>
                    <div class="analytics-item-name"><b>всего</b></div>
                </div>

                <div class="analytics-item analytics-item-interactive" onclick="ShowQuestionsChart()">
                    <div class="analytics-item-value">{{main.questions.correct_percents|round(1)}}%</div>
                    <div class="analytics-item-name"><span class="circle correct-background"></span><b>верно</b>: {{main.questions.correct}}</div>
                </div>

                <div class="analytics-item analytics-item-interactive" onclick="ShowQuestionsChart()">
                    <div class="analytics-item-value">{{main.questions.incorrect_percents|round(1)}}%</div>
                    <div class="analytics-item-name"><span class="circle incorrect-background"></span><b>неверно</b>: {{main.questions.incorrect}}</div>
                </div>
            </div>
            <div class="analytics-chart" id="questions-chart-block">
                <svg id="questions-chart"></svg>
            </div>
        </div>

        <div class="analytics-block" id="times-block">
            <div class="analytics-title analytics-title-interactive" onclick="ToggleTimesChart()">Среднее время ответа</div>
            <div class="analytics-description">Количество <b>секунд</b>, потребовавшихся на ответ в среднем. Нажмите на показатель, чтобы увидеть подробную диаграмму.</div>
            <div class="analytics-items">
                <div class="analytics-item analytics-item-interactive" onclick="ShowTimesChart('total')">
                    <div class="analytics-item-value">{{main.time.total_mean|round(1)}}</div>
                    <div class="analytics-item-name" id="times-total-label">всего</div>
                </div>

                <div class="analytics-item analytics-item-interactive" onclick="ShowTimesChart('correct')">
                    <div class="analytics-item-value">{{main.time.correct_mean|round(1)}}</div>
                    <div class="analytics-item-name" id="times-correct-label"><span class="circle correct-background"></span>верно</div>
                </div>

                <div class="analytics-item analytics-item-interactive" onclick="ShowTimesChart('incorrect')">
                    <div class="analytics-item-value">{{main.time.incorrect_mean|round(1)}}</div>
                    <div class="analytics-item-name" id="times-incorrect-label"><span class="circle incorrect-background"></span>неверно</div>
                </div>
            </div>
            <div class="analytics-chart" id="times-chart-block">
                <div class="analytics-chart-checkbox">
                    <label class="switch-checkbox">
                        <input type="checkbox" id="times-scale" onchange="ShowTimesChart()" checked>
                        <span class="switch-checkbox-slider"></span>
                    </label>
                    <label for="times-scale">В одном масштабе</label>
                </div>

                <svg id="times-total-chart"></svg>
                <svg class="hidden" id="times-correct-chart"></svg>
                <svg class="hidden" id="times-incorrect-chart"></svg>
            </div>
        </div>
        {% else %}
        <div class="analytics-block">
            <div class="analytics-no-info">Пока что нет информации</div>
        </div>
        {% endif %}

        <h3>Исполнители</h3>

        {% if analytics.artists.correct and analytics.artists.incorrect %}
        <div class="analytics-block" id="correct-artists-block">
            <div class="analytics-title{% if analytics.artists.correct %} analytics-title-interactive{% endif %}" onclick="ToggleTable('correct-artists')">Топ угадываемых</div>
            <div class="analytics-description">Исполнители, которые были верно угаданы наибольшее количество раз (без учёта групп, как минимум трижды).</div>
            {% if analytics.artists.correct %}
            <div class="analytics-images">
                {% for artist_data in analytics.artists.correct[:10] %}
                <div class="analytics-image">
                    <a href="/artists/{{artist_data.artist_id}}"><img src="{{artist_id2artist[artist_data.artist_id].get_image_url()}}"></a>
                    <div>{{artist_id2artist[artist_data.artist_id].name}}</div>
                </div>
                {% endfor %}
            </div>
            <div class="analytics-table hidden" id="correct-artists-table">
                <table>
                    <tr><th>Исполнитель</th><th>Вопросы</th><th>Время</th></tr>
                    {% for artist_data in analytics.artists.correct %}
                    <tr>
                        <td><a class="link" href="/artists/{{artist_data.artist_id}}">{{artist_id2artist[artist_data.artist_id].name}}</a></td>
                        <td class="analytics-table-min-width">{{artist_data.count}}</td>
                        <td class="analytics-table-min-width">{{analytics.artists.correct_time[artist_data.artist_id]|round(1)}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% else %}
            <div class="analytics-no-info">Пока что нет информации</div>
            {% endif %}
        </div>

        <div class="analytics-block" id="incorrect-artists-block">
            <div class="analytics-title{% if analytics.artists.incorrect %} analytics-title-interactive{% endif %}" onclick="ToggleTable('incorrect-artists')">Топ неугадываемых</div>
            <div class="analytics-description">Исполнители, которые не были угаданы наибольшее количество раз (без учёта групп, как минимум трижды).</div>
            {% if analytics.artists.incorrect %}
            <div class="analytics-images">
                {% for artist_data in analytics.artists.incorrect[:10] %}
                <div class="analytics-image">
                    <a class="link" href="/artists/{{artist_data.artist_id}}"><img src="{{artist_id2artist[artist_data.artist_id].get_image_url()}}"></a>
                    <div>{{artist_id2artist[artist_data.artist_id].name}}</div>
                </div>
                {% endfor %}
            </div>
            <div class="analytics-table hidden" id="incorrect-artists-table">
                <table>
                    <tr><th>Исполнитель</th><th>Вопросы</th><th>Время</th></tr>
                    {% for artist_data in analytics.artists.incorrect %}
                    <tr>
                        <td><a class="link" href="/artists/{{artist_data.artist_id}}">{{artist_id2artist[artist_data.artist_id].name}}</a></td>
                        <td class="analytics-table-min-width">{{artist_data.count}}</td>
                        <td class="analytics-table-min-width">{{analytics.artists.incorrect_time[artist_data.artist_id]|round(1)}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% else %}
            <div class="analytics-no-info">Пока что нет информации</div>
            {% endif %}
        </div>
        {% else %}
        <div class="analytics-block">
            <div class="analytics-no-info">Пока что нет информации</div>
        </div>
        {% endif %}

        <h3>Треки</h3>

        <div class="analytics-block">
            {% if analytics.tracks.genres.values()|sum %}
            <div class="analytics-title">Жанры</div>
            <div class="analytics-description">Показаны жанры, доля которых выше 2%.</div>
            <div class="analytics-chart analytics-chart-open">
                <svg id="genres-chart"></svg>
            </div>
            {% else %}
            <div class="analytics-no-info">Пока что нет информации</div>
            {% endif %}
        </div>
    </div>

    <script src="/js/utils/fetch.js?v={{version}}"></script>

    <script src="/js/charts/chart.js?v={{version}}"></script>
    <script src="/js/charts/bar_chart.js?v={{version}}"></script>
    <script src="/js/charts/radar_chart.js?v={{version}}"></script>

    <script src="/js/user/analytics.js?v={{version}}"></script>

    <script>
        const questionsData = [
            {value: {{main.questions.correct}}, color: key2color.correct},
            {value: {{main.questions.incorrect}}, color: key2color.incorrect},
        ]

        const timesData = {
            total: [{% for key in main.time.histogram_keys %}{label: "{{key}}", count: {{main.time.histogram[key]}} },{% endfor %}],
            correct: [{% for key in main.time.histogram_keys %}{label: "{{key}}", count: {{main.time.histogram_correct[key]}} },{% endfor %}],
            incorrect: [{% for key in main.time.histogram_keys %}{label: "{{key}}", count: {{main.time.histogram_incorrect[key]}} },{% endfor %}]
        }

        const genresData = [
            {% for genre, count in analytics.tracks.genres.items() %}
            {value: {{count}}, color: "{{genre.to_color()}}", label: "{{genre.to_rus()}}"},
            {% endfor %}
        ]

        PlotGenresChart()
    </script>

    {% include "components/footer.html" %}
</body>
</html>
