{% set title = "%s | Музыкальный квиз Плюшевой наковальни" % question.title %}
{% include "components/header.html" %}
    <link rel="stylesheet" type="text/css" href="/styles/utils/lyrics_updater.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/utils/player.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/utils/history.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/utils/info_panels.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/tracks/track.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/artists/artists.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/user/question.css?v={{version}}">
</head>
<body ondragstart="return false">
    {% include "components/menu.html" %}

    <div class="content">
        {% if quiz_tour %}<div class="quiz-tour-name"><a class="link" href="/quiz-tours">Мини-квизы</a> / {{quiz_tour.name}}</div>{% endif %}
        <div class="question-title">{% if quiz_tour %}Вопрос {{quiz_tour.question_ids.index(question_id) + 1}} из {{quiz_tour.question_ids|length}}. {% endif %}{{question.title}}</div>

        <audio id="audio-{{track.track_id}}" data-track-id="{{track.track_id}}" {% if track.downloaded %}data-src="https://music.dronperminov.ru/tracks/{{track.track_id}}.mp3"{% else %}data-yandex-id="{{track.source.yandex_id}}"{% endif %} data-seek="{{question.question_seek}}" data-timecode="{{question.question_timecode}}" data-playback-rate="{{question.track_modifications.playback_rate}}" {% if note and track.track_id in note.track_id2seek %}data-note-seek="{{note.track_id2seek[track.track_id]}}"{% endif %} preload="metadata" onplay="InitQuestion()"></audio>

        {% if quiz_tour and quiz_tour.quiz_tour_type == QuizTourType.MIRACLES_FIELD %}
        {% set top_letter = get_top_letter(artist_id2artist[track.artists[0]].name).upper() %}
        <div class="miracles-field" id="miracles-field">
            {% for letter in artist_id2artist[track.artists[0]].name.upper() %}
            {% if letter not in " -+!.#$/" %}
            <div><span{% if letter != top_letter %} class="hidden"{% endif %}>{{letter}}</span></div>
            {% else %}
            <div class="space"><span>{{letter}}</span></div>
            {% endif %}
            {% endfor %}
        </div>

        <div class="miracles-field-language">
            {% if top_letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
            латинская
            {% elif top_letter in "АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯ" %}
            русская
            {% endif %}
        </div>
        {% endif %}

        <div class="track track-question track-unknown" id="track-{{track.track_id}}">
            <div class="track-main">
                <div class="track-image">
                    {% if quiz_tour %}
                    {% if quiz_tour.quiz_tour_type == QuizTourType.ALPHABET %}
                    <div class="track-tip">
                        <div class="track-tip-letter">{{artist_id2artist[track.artists[0]].name[0].upper()}}</div>
                        <div class="track-tip-letter-language">
                        {% if artist_id2artist[track.artists[0]].name[0].upper() in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
                        латинская
                        {% elif artist_id2artist[track.artists[0]].name[0].upper() in "АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯ" %}
                        русская
                        {% endif %}
                        </div>
                    </div>
                    {% elif quiz_tour.quiz_tour_type == QuizTourType.STAIRS and quiz_tour.question_ids.index(question_id) > 0 %}
                    {% set name_len = (sub("\W", "", artist_id2artist[track.artists[0]].name)|length) %}
                    <div class="track-tip">
                        <div class="track-tip-letter">{{name_len}}</div>
                        <div class="track-tip-letter-language">{{get_word_form(name_len, ['буква', 'буквы', 'букв'], True)}}</div>
                    </div>
                    {% elif quiz_tour.quiz_tour_type == QuizTourType.LETTER and quiz_tour.question_ids.index(question_id) > 0 %}
                    <div class="track-tip">
                        <div class="track-tip-letter">{{artist_id2artist[track.artists[0]].name[0]}}</div>
                        <div class="track-tip-letter-language">
                        {% if artist_id2artist[track.artists[0]].name[0].upper() in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
                        латинская
                        {% elif artist_id2artist[track.artists[0]].name[0].upper() in "АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯ" %}
                        русская
                        {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                    <img id="track-image" src="/images/tracks/default.png" onclick="PlayPauseTrack('{{track.track_id}}')">
                </div>
                <div>
                    <div class="track-title">{% if track.track_id in track_id2scale %}
                        <span id="track-circle" class="circle hidden" style="background-color: hsl({{track_id2scale[track.track_id].scale * 120}}, 70%, 50%)" onclick="ShowTrackNotification({{track.track_id}}, {{track_id2scale[track.track_id].correct}}, {{track_id2scale[track.track_id].incorrect}})"></span>{% endif %}<span id="track-title">НЕИЗВЕСТЕН</span></div>
                    <div class="track-artists" id="track-artists">{% for artist_id in track.artists %}{% if loop.index0 %}, {% endif %}<a class="link" id="link-artist-{{artist_id}}">unknown</a>{% endfor %} (<a class="link" target="_blank" id="track-year">?</a>)</div>
                </div>
                <div class="track-controls">
                    <div class="loader hidden" id="loader-{{track.track_id}}">
                        <img src="/images/loader.svg">
                    </div>

                    <svg id="player-{{track.track_id}}-load" id="player-{{track.track_id}}-play" onclick="PlayTrack('{{track.track_id}}')" width="1.25em" height="1.25em" viewBox="0 0 7.1 7.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.495,2.573 L1.501,0.142 C0.832,-0.265 0,0.25 0,1.069 L0,5.931 C0,6.751 0.832,7.264 1.501,6.858 L5.495,4.428 C6.168,4.018 6.168,2.983 5.495,2.573" />
                    </svg>

                    <svg id="player-{{track.track_id}}-play" class="hidden" width="1.25em" height="1.25em" viewBox="0 0 7.1 7.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.495,2.573 L1.501,0.142 C0.832,-0.265 0,0.25 0,1.069 L0,5.931 C0,6.751 0.832,7.264 1.501,6.858 L5.495,4.428 C6.168,4.018 6.168,2.983 5.495,2.573" />
                    </svg>

                    <svg id="player-{{track.track_id}}-pause" class="hidden" width="1.25em" height="1.25em" viewBox="-0.7 -0.05 8.1 8.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1,0 C0.448,0 0,0.448 0,1 L0,7 C0,7.552 0.448,8 1,8 C1.552,8 2,7.552 2,7 L2,1 C2,0.448 1.552,0 1,0 M6,1 L6,7 C6,7.552 5.552,8 5,8 C4.448,8 4,7.552 4,7 L4,1 C4,0.448 4.448,0 5,0 C5.552,0 6,0.448 6,1" />
                    </svg>
                </div>
                <div class="track-menu">
                    <div class="vertical-ham" id="track-menu" disabled onclick="infos.Show('track-{{track.track_id}}')">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="player" id="player-{{track.track_id}}"></div>
        </div>

        {% if question.track_modifications.playback_rate != 1 %}
        <div class="track-modifications" id="track-modifications">Внимание, <b>скорость трека изменена</b>: {{question.track_modifications.playback_rate|round(2)}}x</div>
        {% endif %}

        {% if group %}
        <div class="group-buttons hidden" id="show-answer">
            {% for artist_id in group_variants %}
            <button class="basic-button gradient-button" onclick="ShowAnswer({{(artist_id in track.artists)|tojson}})">{{artist_id2artist[artist_id].name}}</button>
            {% endfor %}
        </div>
        {% else %}
        <button class="basic-button gradient-button hidden" id="show-answer" onclick="ShowAnswer()">Показать ответ</button>
        {%endif %}

        <div class="answer-block hidden" id="answer">
            <div class="answer"><b>Ответ:</b> {{question.answer}}</div>
            <div class="description hidden"><b>Время ответа:</b> <span id="answer-time"></span></div>

            <div class="answer-buttons">
                <button class="basic-button green-button" id="answer-button-correct" onclick="SendAnswer(true)">{% if group %}Правильно!{% else %}Знаю{% endif %}</button>
                <button class="basic-button red-button" id="answer-button-incorrect" onclick="SendAnswer(false)">{% if group %}Неправильно :С{% else %}Не знаю{% endif %}</button>
            </div>

            <h3>Исполнител{{ "и" if track.artists|length > 1 else "ь" }}:</h3>
            <div id="artists"></div>

            {% if track.lyrics %}
            <div id="lyrics-updater-{{track.track_id}}" data-lrc="{{track.lyrics.lrc|tojson}}">
                <h3>Текст</h3>

                <div class="lyrics-updater">
                    <div class="lyrics-lines">
                        {% set indices = track.lyrics.get_chorus_indices() %}
                        {% for line in track.lyrics.lines %}
                        <div class="lyrics-line{% if loop.index0 in indices %} lyrics-line-chorus{% endif %}" data-time="{{line.time}}">{{line.text}}</div>
                        {% if indices.get(loop.index0, -1) != indices.get(loop.index, -1) %}<br>{% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>

            {% if artist_id2note %}
            <div class="notes">
                <h3>Личные заметки:</h3>

                {% for artist_id in track.artists %}
                {% if artist_id in artist_id2note %}
                <div class="note"><b>{{artist_id2artist[artist_id].name}}</b>: {{artist_id2note[artist_id].text}}</div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>

    <script src="/js/utils/utils.js?v={{version}}"></script>
    <script src="/js/utils/fetch.js?v={{version}}"></script>
    <script src="/js/utils/swipe_handler.js?v={{version}}"></script>
    <script src="/js/utils/info_panels.js?v={{version}}"></script>
    <script src="/js/utils/lyrics_updater.js?v={{version}}"></script>
    <script src="/js/utils/player.js?v={{version}}"></script>
    <script src="/js/utils/parse.js?v={{version}}"></script>
    <script src="/js/utils/history.js?v={{version}}"></script>
    <script src="/js/utils/player_collection.js?v={{version}}"></script>

    <script src="/js/entities/genre.js?v={{version}}"></script>
    <script src="/js/entities/artist_type.js?v={{version}}"></script>
    <script src="/js/entities/language.js?v={{version}}"></script>
    <script src="/js/entities/metadata.js?v={{version}}"></script>
    <script src="/js/entities/artist.js?v={{version}}"></script>
    <script src="/js/entities/track.js?v={{version}}"></script>

    <script src="/js/tracks/track.js?v={{version}}"></script>
    <script src="/js/user/question.js?v={{version}}"></script>
    <script>
        let answerTime = null
        let players = new PlayerCollection({withIcons: false})
        let infos = new InfoPanels()

        const groupId = {% if group %}{{group.group_id}}{% else %}null{% endif %}
        const questionId = {% if question_id %}{{question_id}}{% else %}null{% endif %}

        const track = new Track({{jsonable_encoder(track)|tojson}})
        const artists = [{% for artist_id in track.artists %}{{jsonable_encoder(artist_id2artist[artist_id])|tojson}},{% endfor %}]
        const artistId2scale = {{artist_id2scale|tojson}}

        let artistsBlock = document.getElementById("artists")

        for (let artist of artists) {
            artist = new Artist(artist)
            artistsBlock.appendChild(artist.Build(artistId2scale))
            infos.Add(artist.BuildInfo())
        }

        infos.Add(track.BuildInfo(artists))
        {% if settings.autoplay %}PlayTrack(track.trackId){% endif %}
    </script>
    {% include "components/footer.html" %}
</body>
</html>
