{% set title = "Настройки | Музыкальный квиз Плюшевой наковальни" %}
{% include "components/header.html" %}
    <link rel="stylesheet" type="text/css" href="/styles/user/settings.css?v={{version}}">
</head>
<body ondragstart="return false">
    {% include "components/menu.html" %}
    {% set question_settings = settings.question_settings %}
    {% set artists_group_settings = settings.artists_group_settings %}

    <div class="content">
        <h1>Настройки</h1>

        <div class="profile">
            <img src="{{user.avatar_url}}">
        </div>

        <div class="profile-name">{{user.full_name}}</div>

        <h3>Общие настройки</h3>

        <div class="settings-block">
            <div class="settings-item settings-checkbox-item">
                <div class="settings-name">
                    <label for="show-progress">Показывать прогресс</label>
                </div>
                <div class="settings-checkbox">
                    <label class="switch-checkbox">
                        <input type="checkbox" id="show-progress"{% if settings.show_progress %}checked{% endif %} onchange="UpdateMainSettings()">
                        <span class="switch-checkbox-slider"></span>
                    </label>
                </div>
            </div>

            <div class="settings-line"></div>

            <div class="settings-item settings-checkbox-item">
                <div class="settings-name">
                    <label for="autoplay">Автовоспроизведение аудио</label>
                </div>
                <div class="settings-checkbox">
                    <label class="switch-checkbox">
                        <input type="checkbox" id="autoplay"{% if settings.autoplay %}checked{% endif %} onchange="UpdateMainSettings()">
                        <span class="switch-checkbox-slider"></span>
                    </label>
                </div>
            </div>
            <div class="settings-item-description">По возможности воспроизводить аудио сразу после загрузки страницы.</div>

            <div class="settings-line"></div>

            <div class="settings-item settings-checkbox-item">
                <div class="settings-name">
                    <label for="show-knowledge-status">Показывать статус угадывания</label>
                </div>
                <div class="settings-checkbox">
                    <label class="switch-checkbox">
                        <input type="checkbox" id="show-knowledge-status"{% if settings.show_knowledge_status %}checked{% endif %} onchange="UpdateMainSettings()">
                        <span class="switch-checkbox-slider"></span>
                    </label>
                </div>
            </div>
            <div class="settings-item-description">Статус угадывания – цветовой индикатор у исполнителей и треков, показывающий точность ответов на вопросы.</div>
        </div>

        <h3>Настройки вопросов</h3>

        <div class="settings-block">
            <div class="settings-item settings-input-item">
                <div class="settings-name">
                    <label for="answer-time">Время ответа:</label>
                </div>
                <div>
                    <input type="text" class="basic-input" id="answer-time" value="{{question_settings.answer_time}}" inputmode="numeric">
                </div>
            </div>
            <div class="settings-item-description">Количество секунд для ответа, 0 – без ограничений.</div>
            <div class="error" id="answer-time-error"></div>

            <div class="settings-line"></div>

            <div class="settings-item settings-checkbox-item">
                <div class="settings-name">
                    <label for="start-from-chorus">Начинать УМ вопросы с припевов</label>
                </div>
                <div class="settings-checkbox">
                    <label class="switch-checkbox">
                        <input type="checkbox" id="start-from-chorus"{% if question_settings.start_from_chorus %}checked{% endif %} onchange="UpdateQuestionSettings()">
                        <span class="switch-checkbox-slider"></span>
                    </label>
                </div>
            </div>
            <div class="settings-item-description">При наличии припева в треке начинать воспроизведение с него.</div>

            <div class="settings-line"></div>

            <div class="settings-item settings-checkbox-item">
                <div class="settings-name">
                    <label for="show-simple-artist-type"><b>Упрощённая форма записи исполнителя</b></label>
                </div>
                <div class="settings-checkbox">
                    <label class="switch-checkbox">
                        <input type="checkbox" id="show-simple-artist-type"{% if question_settings.show_simple_artist_type %}checked{% endif %} onchange="UpdateQuestionSettings()">
                        <span class="switch-checkbox-slider"></span>
                    </label>
                </div>
            </div>
            <div class="settings-item-description">Отображать формы записи исполнителей кратко: певец, исполнитель &rarr; <b>исполнитель</b>, группа, дуэт, трио, проект &rarr; <b>группа</b>.</div>

            <div class="settings-line"></div>

            <div class="settings-item">
                <div><b>Жанры</b></div>

                <div class="balance-input" id="genres">
                    <div class="balance-input-mode">
                        <label class="switch-checkbox">
                            <input type="checkbox" id="genres-mode">
                            <span class="switch-checkbox-slider"></span>
                        </label>
                        <label for="genres-mode">Режим баланса</label>
                    </div>

                    <div class="balance-input-balance-mode">
                    {% for genre in Genre %}
                        <div class="balance-input-option-name"><label for="genres-{{genre.value}}">{{genre.to_rus()}}</label></div>
                        <div class="balance-input-option-track">
                            <input type="range" id="genres-{{genre.value}}" data-name="{{genre.value}}" min="0" max="100" value="50" step=5>
                        </div>
                        <div class="balance-input-option-value" id="genres-{{genre.value}}-value">50</div>
                    {% endfor %}
                    </div>
                    <div class="balance-input-checkbox-mode">
                    {% for genre in Genre %}
                        <label class="switch-checkbox">
                            <input type="checkbox" id="genres-{{genre.value}}-checkbox">
                            <span class="switch-checkbox-slider"></span>
                        </label>
                        <label for="genres-{{genre.value}}-checkbox">{{genre.to_rus()}}</label>
                    {% endfor %}
                    </div>
                </div>
                <div class="error" id="genres-error"></div>
            </div>

            <div class="settings-line"></div>

            <div class="settings-item">
                <div><b>Годы выхода</b></div>

                <div class="balance-input" id="years">
                    <div class="balance-input-mode">
                        <label class="switch-checkbox">
                            <input type="checkbox" id="years-mode">
                            <span class="switch-checkbox-slider"></span>
                        </label>
                        <label for="years-mode">Режим баланса</label>
                    </div>

                    <div class="balance-input-balance-mode">
                    {% for start_year, end_year in question_settings.year_intervals() %}
                        <div class="balance-input-option-name"><label for="years-{{start_year}}-{{end_year}}">{{start_year if start_year else "..."}} - {{end_year if end_year else today.year}}</label></div>
                        <div class="balance-input-option-track">
                            <input type="range" id="years-{{start_year}}-{{end_year}}" data-name="{{start_year}}-{{end_year}}" min="0" max="100" value="50" step=5>
                        </div>
                        <div class="balance-input-option-value" id="years-{{start_year}}-{{end_year}}-value">50</div>
                    {% endfor %}
                    </div>
                    <div class="balance-input-checkbox-mode">
                    {% for start_year, end_year in question_settings.year_intervals() %}
                        <label class="switch-checkbox">
                            <input type="checkbox" id="years-{{start_year}}-{{end_year}}-checkbox">
                            <span class="switch-checkbox-slider"></span>
                        </label>
                        <label for="years-{{start_year}}-{{end_year}}-checkbox">{{start_year if start_year else "..."}} - {{end_year if end_year else today.year}}</label>
                    {% endfor %}
                    </div>
                </div>
                <div class="error" id="years-error"></div>
            </div>

            <div class="settings-line"></div>

            <div class="settings-item">
                <div><b>Язык</b></div>

                <div class="balance-input" id="languages">
                    <div class="balance-input-mode">
                        <label class="switch-checkbox">
                            <input type="checkbox" id="languages-mode">
                            <span class="switch-checkbox-slider"></span>
                        </label>
                        <label for="languages-mode">Режим баланса</label>
                    </div>

                    <div class="balance-input-balance-mode">
                    {% for language in Language %}
                    {% if language != Language.UNKNOWN %}
                        <div class="balance-input-option-name"><label for="languages-{{language.value}}">{{language.to_rus()}}</label></div>
                        <div class="balance-input-option-track">
                            <input type="range" id="languages-{{language.value}}" data-name="{{language.value}}" min="0" max="100" value="50" step=5>
                        </div>
                        <div class="balance-input-option-value" id="languages-{{language.value}}-value">50</div>
                    {% endif %}
                    {% endfor %}
                    </div>
                    <div class="balance-input-checkbox-mode">
                    {% for language in Language %}
                    {% if language != Language.UNKNOWN %}
                        <label class="switch-checkbox">
                            <input type="checkbox" id="languages-{{language.value}}-checkbox">
                            <span class="switch-checkbox-slider"></span>
                        </label>
                        <label for="languages-{{language.value}}-checkbox">{{language.to_rus()}}</label>
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>
                <div class="error" id="languages-error"></div>
            </div>

            <div class="settings-line"></div>

            <div class="settings-item">
                <div><b>Треки (по количеству исполнителей)</b></div>

                <div class="balance-input" id="artists-count">
                    <div class="balance-input-mode">
                        <label class="switch-checkbox">
                            <input type="checkbox" id="artists-count-mode">
                            <span class="switch-checkbox-slider"></span>
                        </label>
                        <label for="artists-count-mode">Режим баланса</label>
                    </div>

                    <div class="balance-input-balance-mode">
                    {% for artists_count in ArtistsCount %}
                        <div class="balance-input-option-name"><label for="artists-count-{{artists_count.value}}">{{artists_count.to_rus()}}</label></div>
                        <div class="balance-input-option-track">
                            <input type="range" id="artists-count-{{artists_count.value}}" data-name="{{artists_count.value}}" min="0" max="100" value="50" step=5>
                        </div>
                        <div class="balance-input-option-value" id="artists-count-{{artists_count.value}}-value">50</div>
                    {% endfor %}
                    </div>
                    <div class="balance-input-checkbox-mode">
                    {% for artists_count in ArtistsCount %}
                        <label class="switch-checkbox">
                            <input type="checkbox" id="artists-count-{{artists_count.value}}-checkbox">
                            <span class="switch-checkbox-slider"></span>
                        </label>
                        <label for="artists-count-{{artists_count.value}}-checkbox">{{artists_count.to_rus()}}</label>
                    {% endfor %}
                    </div>
                </div>
                <div class="error" id="artists-count-error"></div>
            </div>

            <div class="settings-line"></div>

            <div class="settings-item">
                <div><b onclick="listenCountInput.Clear(); UpdateQuestionSettings()">Количество прослушиваний</b></div>
                <div class="interval-input" id="listen-count">
                    <div class="interval-input-cell">
                        <span class="interval-input-label">от</span> <input class="basic-input" data-min="0" type="text" id="listen-count-min">
                    </div>
                    <div class="interval-input-cell">
                        <span class="interval-input-label">до</span> <input class="basic-input" data-min="0" type="text" id="listen-count-max">
                    </div>
                </div>
            </div>
            <div class="settings-item-description">
                <p>Возможно указание в коротком формате: <b>20К</b>, <b>3.5M</b> (подходят как английские, так и русские буквы). Для быстрого изменения доступны следующие варианты:</p>
                <ul>
                    <li><span class="settings-item-label" onclick="listenCountInput.SetValue(['200K', '']); UpdateQuestionSettings()">От 200K</span> – исполнители с более чем 200 тысячами прослушиваний;</li>
                    <li><span class="settings-item-label" onclick="listenCountInput.SetValue(['', '1M']); UpdateQuestionSettings()">До 1М</span> – исполнители с менее чем 1 миллионом прослушиваний.</li>
                </ul>
            </div>
            <div class="error" id="listen-count-error"></div>

            <div class="settings-line"></div>

            <div class="settings-item">
                <div><b>Вопросы</b></div>

                <div class="balance-input" id="question-types">
                    <div class="balance-input-mode">
                        <label class="switch-checkbox">
                            <input type="checkbox" id="question-types-mode">
                            <span class="switch-checkbox-slider"></span>
                        </label>
                        <label for="question-types-mode">Режим баланса</label>
                    </div>

                    <div class="balance-input-balance-mode">
                    {% for question_type in QuestionType %}
                        <div class="balance-input-option-name"><label for="question-types-{{question_type.value}}">{{question_type.to_rus()}}</label></div>
                        <div class="balance-input-option-track">
                            <input type="range" id="question-types-{{question_type.value}}" data-name="{{question_type.value}}" min="0" max="100" value="50" step=5>
                        </div>
                        <div class="balance-input-option-value" id="question-types-{{question_type.value}}-value">50</div>
                    {% endfor %}
                    </div>
                    <div class="balance-input-checkbox-mode">
                    {% for question_type in QuestionType %}
                        <label class="switch-checkbox">
                            <input type="checkbox" id="question-types-{{question_type.value}}-checkbox">
                            <span class="switch-checkbox-slider"></span>
                        </label>
                        <label for="question-types-{{question_type.value}}-checkbox">{{question_type.to_rus()}}</label>
                    {% endfor %}
                    </div>
                </div>
                <div class="error" id="question-types-error"></div>
            </div>

            <div class="settings-line"></div>

            <div class="settings-item">
                <div><b onclick="trackPositionInput.Clear(); UpdateQuestionSettings()">Позиция трека у исполнителя</b></div>
                <div class="interval-input" id="track-position">
                    <div class="interval-input-cell">
                        <span class="interval-input-label">от</span> <input class="basic-input" data-min="1" type="text" id="track-position-min">
                    </div>
                    <div class="interval-input-cell">
                        <span class="interval-input-label">до</span> <input class="basic-input" data-min="1" type="text" id="track-position-max">
                    </div>
                </div>
            </div>
            <div class="settings-item-description">
                <p>Диапазон позиций в оригинальном списке (не среди добавленных) треков исполнителя. Для быстрого изменения доступны следующие варианты:</p>
                <ul>
                    <li><span class="settings-item-label" onclick="trackPositionInput.SetValue(['', 1]); UpdateQuestionSettings()">Самые-самые</span> – первые треки исполнителей;</li>
                    <li><span class="settings-item-label" onclick="trackPositionInput.SetValue(['', 5]); UpdateQuestionSettings()">Только хиты</span> – треки среди ТОП-5 треков исполнителей;</li>
                    <li><span class="settings-item-label" onclick="trackPositionInput.SetValue([6, '']); UpdateQuestionSettings()">Без хитов</span> – треки, находящиеся ниже 5-ой строчки.</li>
                </ul>
            </div>
            <div class="error" id="track-position-error"></div>

            <div class="settings-line"></div>

            <div class="settings-item settings-input-item">
                <div class="settings-name">
                    <label id="repeat-incorrect-probability-label" for="repeat-incorrect-probability">Вероятность повтора вопроса (%):</label>
                </div>
                <div>
                    <input type="text" min="0" max="100" class="basic-input" id="repeat-incorrect-probability" value="{{question_settings.repeat_incorrect_probability * 100|round(1)}}">
                </div>
            </div>

            <div class="settings-item-description">
                <p>Как часто можно повторно задавать вопрос, на который был дан <b>некорректный</b> ответ вместо загадывания нового. Для быстрого изменения доступны следующие варианты:</p>
                <ul>
                    <li><span class="settings-item-label" onclick="repeatIncorrectProbabilityInput.SetValue(0); UpdateQuestionSettings()">никогда (0%)</span> – не повторять вовсе;</li>
                    <li><span class="settings-item-label" onclick="repeatIncorrectProbabilityInput.SetValue(5); UpdateQuestionSettings()">иногда (5%)</span> – примерно каждый 20-ый вопрос будет являться повтором;</li>
                    <li><span class="settings-item-label" onclick="repeatIncorrectProbabilityInput.SetValue(25); UpdateQuestionSettings()">часто (25%)</span> – примерно каждый четвёртый вопрос будет являться повтором.</li>
                </ul></div>
            <div class="error" id="repeat-incorrect-probability-error"></div>
        </div>

        <h4>Модификация треков</h4>

        <div class="settings-block">
            <div class="settings-item settings-input-item">
                <div class="settings-name">
                    <label id="track-modifications-probability-label" for="track-modifications-probability">Вероятность модификаций (%):</label>
                </div>
                <div>
                    <input type="text" min="0" max="100" class="basic-input" id="track-modifications-probability">
                </div>
            </div>

            <div class="settings-item-description">Вероятность применения модификации трека.</div>
            <div class="error" id="track-modifications-probability-error"></div>

            <div class="settings-line"></div>

            <div class="settings-item settings-checkbox-item">
                <div class="settings-name">
                    <label for="change-playback-rate"><b>Изменять скорость трека</b></label>
                </div>
                <div class="settings-checkbox">
                    <label class="switch-checkbox">
                        <input type="checkbox" id="change-playback-rate"{% if question_settings.track_modifications.change_playback_rate %}checked{% endif %} onchange="UpdateQuestionSettings()">
                        <span class="switch-checkbox-slider"></span>
                    </label>
                </div>
            </div>
        </div>

        <h3>Настройки групп</h3>

        <div class="settings-block">
            <div class="settings-item settings-input-item">
                <div class="settings-name">
                    <label for="max-variants">Количество вариантов ответа:</label>
                </div>
                <div>
                    <input type="text" class="basic-input" id="max-variants" value="{{artists_group_settings.max_variants}}" inputmode="numeric">
                </div>
            </div>
            <div class="settings-item-description">Сколько всего ответов можно выбрать при ответе на вопросы в группе.</div>
            <div class="error" id="max-variants-error"></div>
        </div>
    </div>

    <script src="/js/utils/fetch.js?v={{version}}"></script>
    <script src="/js/inputs/number_input.js?v={{version}}"></script>
    <script src="/js/inputs/interval_input.js?v={{version}}"></script>
    <script src="/js/inputs/balance_input.js?v={{version}}"></script>
    <script src="/js/user/settings.js?v={{version}}"></script>
    <script>
        let answerTimeInput = new NumberInput("answer-time", 0, Infinity, /^\d+$/g, {{question_settings.answer_time}}, UpdateQuestionSettings)
        let genresInput = new BalanceInput("genres", "Необходимо выбрать хотя бы один жанр", { {% for genre, value in question_settings.genres.items() %}"{{genre.value}}": {{value}},{% endfor %}}, UpdateQuestionSettings)
        let yearsInput = new BalanceInput("years", "Необходимо выбрать хотя бы один временной промежуток", { {% for (start_year, end_year), value in question_settings.years.items() %}"{{start_year}}-{{end_year}}": {{value}},{% endfor %}}, UpdateQuestionSettings)
        let languagesInput = new BalanceInput("languages", "Необходимо выбрать хотя бы один язык", { {% for language, value in question_settings.languages.items() %}"{{language.value}}": {{value}},{% endfor %}}, UpdateQuestionSettings)
        let artistsCountInput = new BalanceInput("artists-count", "Необходимо выбрать хотя бы один тип трека", { {% for artists_count, value in question_settings.artists_count.items() %}"{{artists_count.value}}": {{value}},{% endfor %}}, UpdateQuestionSettings)
        let questionTypesInput = new BalanceInput("question-types", "Необходимо выбрать хотя бы один тип вопроса", { {% for question_type, value in question_settings.question_types.items() %}"{{question_type.value}}": {{value}},{% endfor %}}, UpdateQuestionSettings)
        let listenCountInput = new IntervalInput("listen-count", {{question_settings.listen_count|tojson}}, UpdateQuestionSettings)
        let trackPositionInput = new IntervalInput("track-position", {{question_settings.track_position|tojson}}, UpdateQuestionSettings)
        let repeatIncorrectProbabilityInput = new NumberInput("repeat-incorrect-probability", 0, 100, /^\d{1,3}(\.\d+)?$/g, {{question_settings.repeat_incorrect_probability * 100}}, UpdateQuestionSettings)
        let trackModificationsProbabilityInput = new NumberInput("track-modifications-probability", 0, 100, /^\d{1,3}(\.\d+)?$/g, {{question_settings.track_modifications.probability * 100}}, UpdateQuestionSettings)
        let maxVariantsInput = new NumberInput("max-variants", 4, 100, /^\d+$/g, {{artists_group_settings.max_variants}}, UpdateArtistsGroupSettings)
    </script>
    {% include "components/footer.html" %}
</body>
</html>
