.basic-input {
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--border-color);
    padding: 1px 0;
    background: transparent;
    outline: none;
    font-size: 1em;
    transition: border-color 150ms ease-in;
}

.basic-input:hover, .basic-input:focus {
    transition: border-color .15s ease-in;
    border-bottom-color: var(--main-color);
}

.basic-input:disabled, .basic-input:disabled:hover, .basic-input:disabled:focus {
    color: var(--border-color);
    border: none;
    border-bottom-color: var(--border-color);
}

.basic-input::-webkit-outer-spin-button, .basic-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button,
iniut[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}

.basic-select {
    border: 1px solid var(--border-color);
    border-radius: 0.8em;
    padding: 0.4em 0.7em;
    background: transparent;
    font-size: 1em;
    transition: border-color 150ms ease-in;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.basic-select:hover, .basic-select:focus {
    border-color: var(--main-color);
    transition: border-color .15s ease-in;
}

.basic-select:disabled, .basic-select:disabled:hover, .basic-select:disabled:focus {
    color: var(--input-disabled-color);
    border: none;
}

.multi-select {
    padding-top: 0.4em;
}

.multi-select-option {
    padding: 0.25em 0.6em;
    background: var(--multi-select-background);
    border: 1px solid var(--multi-select-border);
    color: var(--multi-select-color);
    border-radius: 0.8em;
    display: inline-block;
    margin: 0.2em 0;
    cursor: pointer;
    position: relative;
    margin-right: 0.5em;
}

.multi-select-option-checked {
    background: var(--multi-select-checked-background);
    border-color: var(--multi-select-checked-border);
    color: var(--multi-select-checked-color);
}

.multi-select-option-unchecked {
    background: var(--multi-select-unchecked-background);
    border-color: var(--multi-select-unchecked-border);
    color: var(--multi-select-unchecked-color);
}

.gradient-button {
    background: var(--gradient-button-background);
    color: var(--gradient-button-color);
    text-decoration: none;
    padding: 0.4em 0.6em;
    border: 1px solid var(--gradient-button-border);
    border-radius: 0.6em;
    font-size: 0.9em;
    cursor: pointer;
    outline: none;
}
