.track {
    background: var(--block-background);
    padding: 5px;
    border-radius: 1em;
}

.track-main {
    display: grid;
    grid-template-columns: 5em 1fr 1.5em 1.5em;
    grid-gap: 0.5em;
}

.track-image {
    position: relative;
}

.track-image img {
    padding: 2px;
    width: 100%;
    border-radius: 1.1em;
    vertical-align: top;
    cursor: pointer;
}

.track-title {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
}

.track-image-lyrics {
    position: absolute;
    right: -0.1em;
    bottom: -0.1em;
    background: var(--block-background);
    border-radius: 0.8em;
    font-size: 0.45em;
    font-weight: bold;
    padding: 0.3em 0.55em 0.2em 0.55em;
    display: inline-grid;
    align-content: center;
    justify-content: center;
}

.track-artists {
    font-size: 0.75em;
    color: var(--subtext-color);
    line-height: 1.5em;
}

.track-controls {
    display: grid;
    align-content: center;
    justify-content: center;
}

.track-controls svg {
    fill: var(--text-color);
    cursor: pointer;
}

.track-controls svg:hover {
    fill: var(--main-color);
}

.track-controls .loader img {
    width: 30px;
    height: 30px;
}

.track-menu {
    display: grid;
    align-content: center;
    justify-content: end;
    padding-right: 0.4em;
}

.track-lyrics {
    overflow-x: auto;
    white-space: nowrap;
}

.track-lyrics-line {
    font-size: 0.9em;
    line-height: 1.4em;
}

.track-lyrics-line-chorus {
    color: var(--main-color);
}

.track .lyrics-updater {
    margin-top: 1em;
}