.multi-player {
    padding: 1em;
    border-radius: 1em;
    background-color: var(--block-background);
    margin: 1em 0;
}

.multi-player label {
    cursor: pointer;
    font-weight: bold;
}

.multi-player input {
    margin-bottom: 1em;
}

.multi-player-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.7em;
}

.multi-player-options {
    margin-bottom: 1em;
    font-size: 0.9em;
}

.session-info {
    margin: 1em 0;
    padding: 0.5em;
    background-color: var(--block-background);
    border-radius: 0.5em;
}

.connected-users-count {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.connected-users-count span {
    font-weight: normal;
}

.session-info-buttons {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.7em;
    grid-auto-columns: 1fr;
}

.connected-users {
    display: inline-grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    max-width: 100%;
    overflow-x: auto;
    grid-gap: 0.5em;
    margin-bottom: 0.5em;
}

.connected-user {
    max-width: 35px;
}

.connected-user img {
    width: 100%;
    border-radius: 100%;
    border: 2px solid var(--text-color);
}

.answered-correct-user img {
    border-color: var(--correct-color);
}

.answered-incorrect-user img {
    border-color: var(--incorrect-color);
}

.session-header {
    margin-bottom: 0.5em;
    font-weight: bold;
}

.session-statistics {
    margin-top: 1em;
    background-color: var(--block-background);
    padding: 0.5em;
    border-radius: 1em;
}

.session-statistics-items {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 0.5em;
    max-height: 300px;
    overflow-y: auto;
}

.session-statistics-item {
    display: grid;
    grid-template-columns: 32px 1fr;
    align-items: center;
    grid-gap: 0.7em;
    color: var(--subtext-color);
    font-size: 0.9em;
}

.session-statistics-item img {
    border-radius: 100%;
    width: 100%;
    vertical-align: middle;
    border: 1px solid var(--text-color);
}

.session-history {
    margin-top: 1em;
    background-color: var(--block-background);
    padding: 0.5em;
    border-radius: 1em;
}

.session-history-actions {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 0.5em;
    max-height: 300px;
    overflow-y: auto;
}

.session-history-action {
    display: grid;
    grid-template-columns: 24px 1fr;
    align-items: center;
    grid-gap: 0.3em;
    color: var(--subtext-color);
    font-size: 0.8em;
}

.session-history-action-user img {
    border-radius: 100%;
    width: 100%;
    vertical-align: middle;
    border: 1px solid var(--text-color);
}

.session-history-action .correct, .notification .correct {
    font-weight: bold;
    color: var(--correct-color);
}

.session-history-action .incorrect, .notification .incorrect {
    font-weight: bold;
    color: var(--incorrect-color);
}

.content {
    position: relative;
}

.reactions {
    right: 10px;
    top: 50px;
    position: absolute;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 20px;
    width: 20px;
    grid-gap: 12px;
}

.reactions img {
    width: 20px;
}

.reaction {
    width: 20px;
    vertical-align: middle;
}

.question-title {
    max-width: calc(100% - 30px);
}

.track-question {
    position: initial;
}

.track-question .track-menu {
    top: 10px;
}
