{% set title = "Музыкальный квиз Плюшевой наковальни" %}
{% include "components/header.html" %}
    <link rel="stylesheet" type="text/css" href="/styles/index.css?v={{version}}">
</head>
<body ondragstart="return false">
    {% include "components/menu.html" %}

    <div class="content">
        <div class="logo">
            <img src="/images/logo.svg">
        </div>

        <div class="logo-text">МУЗЫКАЛЬНОЕ ПРИЛОЖЕНИЕ</div>

        <div class="slogan">Тренируйся угадывать исполнителей треков и улучшай свои музыкальные знания!</div>

        <h2>Топ игроков</h2>
        <div class="description">
            <p>Проходя мини-квизы, игроки зарабатывают себе баллы <b>рейтинга</b>. За каждый мини-квиз игрок получает очки, равные количеству процентов правильных ответов, умноженному на коэффициент, учитывающий давность тура. Очки, полученные за все пройденные квизы усредняются и идут в итоговый рейтинг. На основе набранных очков формируется топ. Для того, чтобы попасть в топ, необходимо пройти <b>более трёх</b> квизов.</p>
            <p>В случае, если игрок не хочет, чтобы остальные видели его рейтинг, он может отключить настройку "Показывать рейтинг" в <a class="link" href="/settings">настройках</a>.</p>
        </div>

        <div class="top-players-tags" onclick="tagsInput.Clear(); ShowTopPlayers()">Теги:</div>
        {% include "components/tags.html" %}

        <div class="loader hidden" id="loader"><img src="/images/loader.svg"></div>

        <div class="leaderboard" id="leaderboard">
            {% if top_players|length >= 3 %}
            <div class="top3-players">
                {% for user, rating, count in [top_players[1], top_players[0], top_players[2]] %}
                <div class="top3-player">
                    <div class="top-player-name">{{user.full_name}}</div>
                    <div class="top-player-tours-count">{{get_word_form(count, ['мини-квиз', 'мини-квиза', 'мини-квизов'])}}</div>
                    <div class="top-player-image">
                        <a href="/analytics?username={{user.username}}"><img src="{{user.avatar_url}}"></a>
                        <div class="top-player-place">{{[2, 1, 3][loop.index0]}}</div>
                    </div>
                    <div class="top-player-flag">
                        <div class="top-player-rating">
                            <img src="/images/rating.svg?v={{version}}">
                            <span>{{rating}}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="top-players">
                {% for user, rating, count in (top_players[3:15] if (top_players|length) > 3 else top_players) %}
                <div class="top-player">
                    <div class="top-player-place">{{loop.index + 3}}</div>
                    <div class="top-player-image"><a href="/analytics?username={{user.username}}"><img src="{{user.avatar_url}}"></a></div>
                    <div class="top-player-name">
                        {{user.full_name}}
                        <div class="top-player-tours-count">{{get_word_form(count, ['мини-квиз', 'мини-квиза', 'мини-квизов'])}}</div>
                    </div>
                    <div>
                        <div class="top-player-rating">
                            <img src="/images/rating.svg?v={{version}}">
                            <span>{{rating}}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="mode">
            <div class="mode-title">ТРЕНИРОВКА</div>
            <div class="mode-description">Угадай исполнителя или группу на слух!</div>
            <a class="basic-button gradient-button" href="/question">НАЧАТЬ ТРЕНИРОВКУ</a>
        </div>

        <div class="mode">
            <div class="mode-title">ОТЛИЧИЕ ИСПОЛНИТЕЛЕЙ</div>
            <div class="mode-description">Уверен, что можешь отличить <b>Демо</b> от <b>Красок</b>? А <b>Panic! At the disco</b> от <b>Fall Out Boy</b>? Проверь свои знания, выбрав группу схожих исполнителей!</div>
            <a class="basic-button gradient-button" href="/artists-groups">ВЫБРАТЬ ГРУППУ</a>
        </div>

        <div class="mode">
            <div class="mode-title">МИНИ-КВИЗЫ</div>
            <div class="mode-description">Небольшие туры на 10-20 вопросов по различным тематикам уже ждут тебя! Выбирай интересную тему и механику и вперёд!</div>
            <a class="basic-button gradient-button" href="/quiz-tours">ВЫБРАТЬ МИНИ-КВИЗ</a>
        </div>
    </div>

    <script src="/js/utils/utils.js?v={{version}}"></script>
    <script src="/js/utils/fetch.js?v={{version}}"></script>

    <script src="/js/inputs/multi_select.js?v={{version}}"></script>
    <script src="/js/index.js?v={{version}}"></script>

    <script>
        let tagsInput = new MultiSelect("tags-filter", null, false, ShowTopPlayers)
    </script>

    {% include "components/footer.html" %}
</body>
</html>
