{% set title = "Неизвестный трек | Музыкальный квиз Плюшевой наковальни" %}
{% include "components/header.html" %}
    <link rel="stylesheet" type="text/css" href="/styles/utils/lyrics_updater.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/utils/player.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/utils/history.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/utils/info_panels.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/tracks/track.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/artists/artists.css?v={{version}}">
</head>
<body ondragstart="return false">
    {% include "components/menu.html" %}

    <div class="content">
        <audio id="audio-{{track.track_id}}" data-track-id="{{track.track_id}}" {% if track.downloaded %}data-src="https://music.dronperminov.ru/tracks/{{track.track_id}}.mp3"{% else %}data-yandex-id="{{track.source.yandex_id}}"{% endif %} data-seek="{{seek}}" preload="metadata"></audio>

        <div class="track track-question" id="track-{{track.track_id}}">
            <div class="track-main">
                <div class="track-image">
                    <img id="track-image" src="/images/tracks/default.png" onclick="PlayPauseTrack('{{track.track_id}}')">
                    {% if track.lyrics %}<div class="track-image-lyrics">T</div>{% endif %}
                </div>
                <div>
                    <div class="track-title">{% if track.track_id in track_id2scale %}
                        <span id="track-circle" class="circle hidden" style="background-color: hsl({{track_id2scale[track.track_id].scale * 120}}, 70%, 50%)" onclick="ShowTrackNotification({{track.track_id}}, {{track_id2scale[track.track_id].correct}}, {{track_id2scale[track.track_id].incorrect}})"></span>{% endif %}<span id="track-title">НЕИЗВЕСТЕН</span></div>
                    <div class="track-artists" id="track-artists">{% for artist_id in track.artists %}{% if loop.index0 %}, {% endif %}<a class="link" id="link-artist-{{artist_id}}">unknown</a>{% endfor %} (<a class="link" target="_blank" id="track-year">?</a>)</div>
                </div>
                <div class="track-controls">
                    <div class="loader hidden" id="loader-{{track.track_id}}">
                        <img src="/images/loader.svg">
                    </div>

                    <svg id="player-{{track.track_id}}-load" id="player-{{track.track_id}}-play" onclick="PlayTrack('{{track.track_id}}')" width="1.25em" height="1.25em" viewBox="0 0 7.1 7.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.495,2.573 L1.501,0.142 C0.832,-0.265 0,0.25 0,1.069 L0,5.931 C0,6.751 0.832,7.264 1.501,6.858 L5.495,4.428 C6.168,4.018 6.168,2.983 5.495,2.573" />
                    </svg>

                    <svg id="player-{{track.track_id}}-play" class="hidden" width="1.25em" height="1.25em" viewBox="0 0 7.1 7.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.495,2.573 L1.501,0.142 C0.832,-0.265 0,0.25 0,1.069 L0,5.931 C0,6.751 0.832,7.264 1.501,6.858 L5.495,4.428 C6.168,4.018 6.168,2.983 5.495,2.573" />
                    </svg>

                    <svg id="player-{{track.track_id}}-pause" class="hidden" width="1.25em" height="1.25em" viewBox="-0.7 -0.05 8.1 8.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1,0 C0.448,0 0,0.448 0,1 L0,7 C0,7.552 0.448,8 1,8 C1.552,8 2,7.552 2,7 L2,1 C2,0.448 1.552,0 1,0 M6,1 L6,7 C6,7.552 5.552,8 5,8 C4.448,8 4,7.552 4,7 L4,1 C4,0.448 4.448,0 5,0 C5.552,0 6,0.448 6,1" />
                    </svg>
                </div>
                <div class="track-menu">
                    <div class="vertical-ham" id="track-menu" disabled onclick="infos.Show('track-{{track.track_id}}')">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="player" id="player-{{track.track_id}}"></div>
            {% if track.lyrics %}
            <div class="lyrics-updater lyrics-updater-disabled hidden" data-lrc="{{track.lyrics.lrc|tojson}}" id="lyrics-updater-{{track.track_id}}">
                <div class="lyrics-lines">
                    {% set indices = track.lyrics.get_chorus_indices() %}
                    {% for line in track.lyrics.lines %}
                    <div class="lyrics-line{% if loop.index0 in indices %} lyrics-line-chorus{% endif %}" data-time="{{line.time}}">{{line.text}}</div>
                    {% if indices.get(loop.index0, -1) != indices.get(loop.index, -1) %}<br>{% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>

        <div class="track-info">
            <button class="basic-button gradient-button{% if not as_unknown %}hidden{%endif %}" id="show-info" onclick="ShowTrackInfo()">Показать информацию</button>

            <div {% if as_unknown %}class="hidden"{% endif %} id="track-info">
                <h3>Исполнител{{ "и" if track.artists|length > 1 else "ь" }}:</h3>
                <div id="artists"></div>
            </div>
        </div>
    </div>

    <script src="/js/utils/utils.js?v={{version}}"></script>
    <script src="/js/utils/fetch.js?v={{version}}"></script>
    <script src="/js/utils/swipe_handler.js?v={{version}}"></script>
    <script src="/js/utils/info_panels.js?v={{version}}"></script>
    <script src="/js/utils/lyrics_updater.js?v={{version}}"></script>
    <script src="/js/utils/player.js?v={{version}}"></script>
    <script src="/js/utils/parse.js?v={{version}}"></script>
    <script src="/js/utils/history.js?v={{version}}"></script>
    <script src="/js/utils/player_collection.js?v={{version}}"></script>

    <script src="/js/entities/genre.js?v={{version}}"></script>
    <script src="/js/entities/artist_type.js?v={{version}}"></script>
    <script src="/js/entities/language.js?v={{version}}"></script>
    <script src="/js/entities/metadata.js?v={{version}}"></script>
    <script src="/js/entities/artist.js?v={{version}}"></script>
    <script src="/js/entities/track.js?v={{version}}"></script>

    <script src="/js/tracks/track.js?v={{version}}"></script>
    <script>
        let players = new PlayerCollection()
        let infos = new InfoPanels()

        const track = new Track({{jsonable_encoder(track)|tojson}})
        const artists = [{% for artist_id in track.artists %}{{jsonable_encoder(artist_id2artist[artist_id])|tojson}},{% endfor %}]
        const artistId2scale = {{artist_id2scale|tojson}}

        {% if not as_unknown %}ShowTrackInfo(){% endif %}

        let artistsBlock = document.getElementById("artists")
        for (let artist of artists) {
            artist = new Artist(artist)
            artistsBlock.appendChild(artist.Build(artistId2scale))
            infos.Add(artist.BuildInfo())
        }

        infos.Add(track.BuildInfo(artists))

        {% if settings and settings.autoplay %}PlayTrack(track.trackId){% endif %}

        function ShowTrackInfo() {
            track.ReplaceUnknown(artists)

            let button = document.getElementById("show-info")
            button.classList.add("hidden")

            let block = document.getElementById("track-info")
            block.classList.remove("hidden")

            let trackTitle = document.getElementById("track-title").innerText
            let trackArtists = document.getElementById("track-artists").innerText
            let trackYear = document.getElementById("track-year").innerText
            let title = document.getElementsByTagName("title")[0]
            title.innerText = `${trackArtists} – ${trackTitle} (${trackYear}) | Музыкальный квиз Плюшевой наковальни`
        }
    </script>
    {% include "components/footer.html" %}
</body>
</html>
