{% set title = "%s | Музыкальный квиз Плюшевой наковальни" % question.title %}
{% include "components/header.html" %}
    <link rel="stylesheet" type="text/css" href="/styles/utils/lyrics_updater.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/utils/player.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/utils/history.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/utils/info_panels.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/tracks/track.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/artists/artists.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/user/question.css?v={{version}}">
</head>
<body ondragstart="return false">
    {% include "components/menu.html" %}

    <div class="content">
        {% include "components/question.html" %}
    </div>

    <script src="/js/utils/utils.js?v={{version}}"></script>
    <script src="/js/utils/fetch.js?v={{version}}"></script>
    <script src="/js/utils/swipe_handler.js?v={{version}}"></script>
    <script src="/js/utils/info_panels.js?v={{version}}"></script>
    <script src="/js/utils/lyrics_updater.js?v={{version}}"></script>
    <script src="/js/utils/player.js?v={{version}}"></script>
    <script src="/js/utils/parse.js?v={{version}}"></script>
    <script src="/js/utils/history.js?v={{version}}"></script>
    <script src="/js/utils/player_collection.js?v={{version}}"></script>

    <script src="/js/entities/genre.js?v={{version}}"></script>
    <script src="/js/entities/artist_type.js?v={{version}}"></script>
    <script src="/js/entities/language.js?v={{version}}"></script>
    <script src="/js/entities/metadata.js?v={{version}}"></script>
    <script src="/js/entities/artist.js?v={{version}}"></script>
    <script src="/js/entities/track.js?v={{version}}"></script>

    <script src="/js/inputs/multi_select.js?v={{version}}"></script>

    <script src="/js/tracks/track.js?v={{version}}"></script>
    <script src="/js/user/question.js?v={{version}}"></script>
    <script>
        let answerTime = null
        let players = new PlayerCollection({withIcons: false})
        let infos = new InfoPanels()

        const track = new Track({{jsonable_encoder(track)|tojson}})
        const artists = [{% for artist_id in track.artists %}{{jsonable_encoder(artist_id2artist[artist_id])|tojson}},{% endfor %}]
        const artistId2scale = {{artist_id2scale|tojson}}

        let artistsBlock = document.getElementById("artists")

        for (let artist of artists) {
            artist = new Artist(artist)
            artistsBlock.appendChild(artist.Build(artistId2scale))
            infos.Add(artist.BuildInfo())
        }

        infos.Add(track.BuildInfo(artists))
        {% if settings.autoplay %}PlayTrack(track.trackId){% endif %}
    </script>
    {% include "components/footer.html" %}
</body>
</html>
