{% set title = "Мини-квизы | Музыкальный квиз Плюшевой наковальни" %}
{% include "components/header.html" %}
    <link rel="stylesheet" type="text/css" href="/styles/quiz_tours/quiz_tours.css?v={{version}}">
</head>
<body ondragstart="return false">
    {% include "components/menu.html" %}

    <div class="content">
        <h1>Мини-квизы</h1>

        <div class="quiz-tours" id="quiz-tours"></div>
    </div>

    <script src="/js/utils/utils.js?v={{version}}"></script>
    <script src="/js/utils/fetch.js?v={{version}}"></script>
    
    <script src="/js/entities/quiz_tour.js?v={{version}}"></script>

    <script>
        let quizToursBlock = document.getElementById("quiz-tours")
        quizToursBlock.innerHTML = ""

        SendRequest("/quiz-tours", {}).then(response => {
            if (response.status != SUCCESS_STATUS) {
                ShowNotification(`Не удалось получить список мини-квизов<br><b>Причина</b>: ${response.message}`)
                return
            }

            for (let quizTour of response.quiz_tours) {
                quizTour = new QuizTour(quizTour, response.statuses)
                quizToursBlock.appendChild(quizTour.Build())
            }
        })
    </script>

    {% include "components/footer.html" %}
</body>
</html>
