{% set title = "%s | Музыкальный квиз Плюшевой наковальни" % quiz_tour.name %}
{% include "components/header.html" %}
    <link rel="stylesheet" type="text/css" href="/styles/tracks/track.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/utils/info_panels.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/utils/lyrics_updater.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/utils/player.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/utils/history.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/user/analytics.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/quiz_tours/quiz_tours.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/quiz_tours/quiz_tour.css?v={{version}}">
</head>
<body ondragstart="return false">
    {% include "components/menu.html" %}

    <div class="content">
        <div id="quiz-tour"></div>

        <div class="back-link"><button class="basic-button gradient-button" onclick="location.href='/quiz-tours'">Вернуться к списку мини-квизов</button></div>

        <h2>Аналитика</h2>

        {% set status = statuses[quiz_tour.quiz_tour_id] %}
        <div class="analytics-block">
            <div onclick="ToggleTotalTimeChart()">
                <div class="analytics-total-value">{{format_time(status.time.total)}}</div>
                <div class="analytics-description">Суммарное время, потребовавшееся на прохождение квиза (нажмите, чтобы увидеть подробности)</div>
                <div class="analytics-bar analytics-bar-small" id="total-time-small-bar">
                    {% if status.time.correct > 0 %}<div class="correct-background" style="width: {{status.time.correct / status.time.total * 100}}%"></div>{% endif %}
                    {% if status.time.incorrect > 0 %}<div class="incorrect-background" style="width: {{status.time.incorrect / status.time.total * 100}}%"></div>{% endif %}
                </div>
            </div>

            <div class="analytics-chart" id="total-time-block">
                <div class="analytics-list">
                    {% if status.time.correct > 0 %}
                    <div class="analytics-time-label"><span class="circle correct-background"></span> Верно</div>
                    <div class="analytics-time">{{format_time(status.time.correct)}}</div>
                    {% endif %}

                    {% if status.time.incorrect > 0 %}
                    <div class="analytics-time-label"><span class="circle incorrect-background"></span> Неверно</div>
                    <div class="analytics-time">{{format_time(status.time.incorrect)}}</div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="analytics-block" id="questions-block">
            <div class="analytics-title analytics-title-interactive" onclick="ToggleQuestionsChart()">Ответы</div>
            <div class="analytics-description">Нажмите на показатель, чтобы увидеть диаграмму.</div>
            <div class="analytics-items">
                <div class="analytics-item analytics-item-interactive" onclick="ShowQuestionsChart()">
                    <div class="analytics-item-value">{{status.total}}</div>
                    <div class="analytics-item-name"><b>всего</b></div>
                </div>

                <div class="analytics-item analytics-item-interactive" onclick="ShowQuestionsChart()">
                    <div class="analytics-item-value">{{status.correct_percents|round(1)}}%</div>
                    <div class="analytics-item-name"><span class="circle correct-background"></span><b>верно</b>: {{status.correct}}</div>
                </div>

                <div class="analytics-item analytics-item-interactive" onclick="ShowQuestionsChart()">
                    <div class="analytics-item-value">{{status.incorrect_percents|round(1)}}%</div>
                    <div class="analytics-item-name"><span class="circle incorrect-background"></span><b>неверно</b>: {{status.incorrect}}</div>
                </div>
            </div>
            <div class="analytics-chart" id="questions-chart-block">
                <svg id="questions-chart"></svg>
            </div>
        </div>

        <h2>Загаданные треки</h2>

        <div class="quiz-tour-tracks">
            {% for track in tracks %}
            <audio id="audio-{{track.track_id}}" data-track-id="{{track.track_id}}" {% if track.downloaded %}data-src="https://music.dronperminov.ru/tracks/{{track.track_id}}.mp3"{% else %}data-yandex-id="{{track.source.yandex_id}}"{% endif %} {% if note and track.track_id in note.track_id2seek %}data-note-seek="{{note.track_id2seek[track.track_id]}}"{% endif %} preload="metadata"></audio>

            <div class="track {% if track_id2correct[track.track_id] %}track-correct{% else %}track-incorrect{% endif %}" id="track-{{track.track_id}}">
                <div class="track-main">
                    <div class="track-image">
                        <img src="{{track.image_url if track.image_url else '/images/tracks/default.png'}}" loading="lazy" onclick="PlayPauseTrack('{{track.track_id}}')">
                        {% if track.lyrics %}<div class="track-image-lyrics">T</div>{% endif %}
                    </div>
                    <div>
                        <div class="track-title">{% if track.track_id in track_id2scale %}
                        <span class="circle" style="background-color: hsl({{track_id2scale[track.track_id].scale * 120}}, 70%, 50%)" onclick="ShowTrackNotification({{track.track_id}}, {{track_id2scale[track.track_id].correct}}, {{track_id2scale[track.track_id].incorrect}})"></span>{% endif %}<a href="/tracks/{{track.track_id}}">{{track.title}}</a></div>
                        <div class="track-artists">
                            {% for artist_id in track.artists %}{{", " if loop.index0 else ""}}
                            <a class="link" href="/artists/{{artist_id}}">{{artist_id2artist[artist_id].name}}</a>{% endfor %}
                            {% if track.year > 0 %}({{track.year}}</a>){% endif %}
                        </div>
                    </div>
                    <div class="track-controls">
                        <div class="loader hidden" id="loader-{{track.track_id}}">
                            <img src="/images/loader.svg">
                        </div>

                        <svg id="player-{{track.track_id}}-load" id="player-{{track.track_id}}-play" onclick="PlayTrack('{{track.track_id}}')" width="1.25em" height="1.25em" viewBox="0 0 7.1 7.1" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.495,2.573 L1.501,0.142 C0.832,-0.265 0,0.25 0,1.069 L0,5.931 C0,6.751 0.832,7.264 1.501,6.858 L5.495,4.428 C6.168,4.018 6.168,2.983 5.495,2.573" />
                        </svg>

                        <svg id="player-{{track.track_id}}-play" class="hidden" width="1.25em" height="1.25em" viewBox="0 0 7.1 7.1" xmlns="http://www.w3.org/2000/svg" onclick="SetMediaSessionMetadata('{{track.track_id}}')">
                            <path d="M5.495,2.573 L1.501,0.142 C0.832,-0.265 0,0.25 0,1.069 L0,5.931 C0,6.751 0.832,7.264 1.501,6.858 L5.495,4.428 C6.168,4.018 6.168,2.983 5.495,2.573" />
                        </svg>

                        <svg id="player-{{track.track_id}}-pause" class="hidden" width="1.25em" height="1.25em" viewBox="-0.7 -0.05 8.1 8.1" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1,0 C0.448,0 0,0.448 0,1 L0,7 C0,7.552 0.448,8 1,8 C1.552,8 2,7.552 2,7 L2,1 C2,0.448 1.552,0 1,0 M6,1 L6,7 C6,7.552 5.552,8 5,8 C4.448,8 4,7.552 4,7 L4,1 C4,0.448 4.448,0 5,0 C5.552,0 6,0.448 6,1" />
                        </svg>
                    </div>
                    <div class="track-menu">
                        <div class="vertical-ham" onclick="infos.Show('track-{{track.track_id}}')">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="player" id="player-{{track.track_id}}"></div>
                <div class="error" id="error-{{track.track_id}}"></div>
                <div class="question-status">
                    {% set track_status = track_id2status[track.track_id] %}
                    {% set track_scale = (track_status|sum * 100) / (track_status|length) %}
                    <b>средний балл</b>: <div class="circle" style="background-color: hsl({{track_scale * 1.2}}, 70%, 50%);"></div>{{track_scale|round(1)}}% ({{get_word_form(track_status|sum, ['игрок', 'игрока', 'игроков'])}})
                </div>
                {% if track.lyrics %}
                <div class="lyrics-updater lyrics-updater-disabled hidden" data-lrc="{{track.lyrics.lrc|tojson}}" id="lyrics-updater-{{track.track_id}}">
                    <div class="lyrics-lines">
                        {% set indices = track.lyrics.get_chorus_indices() %}
                        {% for line in track.lyrics.lines %}
                        <div class="lyrics-line{% if loop.index0 in indices %} lyrics-line-chorus{% endif %}" data-time="{{line.time}}">{{line.text}}</div>
                        {% if indices.get(loop.index0, -1) != indices.get(loop.index, -1) %}<br>{% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="/js/utils/fetch.js?v={{version}}"></script>
    <script src="/js/utils/swipe_handler.js?v={{version}}"></script>
    <script src="/js/utils/info_panels.js?v={{version}}"></script>
    <script src="/js/utils/lyrics_updater.js?v={{version}}"></script>
    <script src="/js/utils/utils.js?v={{version}}"></script>
    <script src="/js/utils/player.js?v={{version}}"></script>
    <script src="/js/utils/player_collection.js?v={{version}}"></script>
    <script src="/js/utils/history.js?v={{version}}"></script>

    <script src="/js/charts/chart.js?v={{version}}"></script>

    <script src="/js/entities/genre.js?v={{version}}"></script>
    <script src="/js/entities/language.js?v={{version}}"></script>
    <script src="/js/entities/metadata.js?v={{version}}"></script>
    <script src="/js/entities/track.js?v={{version}}"></script>
    <script src="/js/entities/quiz_tour.js?v={{version}}"></script>

    <script src="/js/tracks/track.js?v={{version}}"></script>
    <script src="/js/user/analytics.js?v={{version}}"></script>
    <script>
        let infos = new InfoPanels()
        let players = new PlayerCollection()

        const tracks = {{jsonable_encoder(tracks)|tojson}}
        const trackId2artists = {{jsonable_encoder(track_id2artists)|tojson}}

        const questionsData = [
            {value: {{status.correct}}, color: key2color.correct},
            {value: {{status.incorrect}}, color: key2color.incorrect},
        ]

        for (let track of tracks) {
            track = new Track(track)
            infos.Add(track.BuildInfo(trackId2artists[track.track_id]))
        }

        let quizTour = new QuizTour({{jsonable_encoder(quiz_tour)}}, {{jsonable_encoder(statuses)}})
        quizTour.BuildPage("quiz-tour")
    </script>
    {% include "components/footer.html" %}
</body>
</html>
