.artist-image {
    border-radius: 1.5em;
    text-align: center;
}

.artist-image img {
    max-width: 200px;
    padding: 2px;
    width: 100%;
    border-radius: 20px;
    vertical-align: top;
}

.artist-name {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.artist-name img {
    width: 1.2em;
    vertical-align: bottom;
}

.artist-type {
    color: var(--subtext-color);
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.2em;
}

.artist-stats {
    color: var(--subtext-color);
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 0.9em;
}

.artist-about {
    font-size: 1em;
    color: var(--text-color);
    margin-bottom: 0.5em;
}

.artist-line {
    margin: 0.8em 0;
    height: 1px;
    background: var(--border-color);
}

.artist-tracks {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1em;
}
