.artist-image {
    border-radius: 1.5em;
    text-align: center;
}

.artist-image img {
    max-width: 200px;
    padding: 2px;
    width: 100%;
    border-radius: 20px;
}

.artist-name {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.artist-type {
    color: var(--subtext-color);
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.2em;
}

.artist-stats {
    color: var(--subtext-color);
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 0.9em;
}

.artist-about {
    font-size: 1em;
    color: var(--text-color);
    margin-bottom: 0.3em;
}

.artist-line {
    margin: 0.8em 0;
    height: 1px;
    background: var(--border-color);
}

.artist-tracks {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1em;
}

.track {
    display: grid;
    grid-template-columns: 5em 1fr 1.5em 1.5em;
    grid-gap: 0.5em;
    background: var(--block-background);
    padding: 5px 5px 0 5px;
    border-radius: 1em;
}

.track-image img {
    padding: 2px;
    width: 100%;
    border-radius: 1.1em;
}

.track-title {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
}

.track-artists {
    font-size: 0.75em;
    color: var(--subtext-color);
    line-height: 1.5em;
}

.track-controls {
    display: grid;
    align-content: center;
    justify-content: center;
}

.track-controls svg {
    fill: var(--text-color);
    cursor: pointer;
}

.track-controls svg:hover {
    fill: var(--main-color);
}

.track-menu {
    display: grid;
    align-content: center;
    justify-content: end;
    padding-right: 0.4em;
}

.content {
    position: relative;
    overflow: hidden;
}

.track-info-popup {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: transparent;
    border-radius: 10px;
    pointer-events: none;
    transition: background .1s ease-in;
}

.track-info-popup-open {
    background: #00000080;
    transition: background .1s ease-out;
    pointer-events: all;
    cursor: pointer;
}

.track-info {
    position: fixed;
    background: var(--block-background);
    border: 1px solid var(--border-color);
    border-radius: 10px 10px 0 0;
    padding: 10px;
    top: 100%;
    height: 60dvh;
    transition: bottom .2s ease-in;
    overflow: auto;
}

.track-info-open {
    margin: -10px;
    top: calc(40dvh + 10px);
    transition: top .2s ease-out;
}

.track-about {
    font-size: 1.1em;
    color: var(--text-color);
    margin-bottom: 0.5em;
}

.track-info .track-image {
    max-width: 150px;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .track-info-popup {
        border-radius: 0;
    }

    .track-info {
        margin: 0;
        left: 0;
        right: 0;
    }
}
