.short-artists {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1em;
    overflow: auto;
    margin-bottom: 1.5em;
}

.short-artist {
    width: 90px;
    font-size: 0.5em;
    text-align: center;
}

.artist {
    display: grid;
    grid-template-columns: 6.5em 1fr;
    grid-gap: 0.9em;
    margin-bottom: 1em;
    background: var(--block-background);
    padding: 5px;
    border-radius: 1em;
}

.artist-image {
    cursor: pointer;
}

.artist-image:hover img {
    padding: 0;
    border: 2px solid var(--main-color);
}

.artist-image img {
    padding: 2px;
    width: 100%;
    border-radius: 20px;
    vertical-align: top;
}

.artist-name {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 0.4em;
}

.artist-name a {
    color: var(--text-color);
    text-decoration: none;
}

.artist-name a:hover {
    color: var(--main-color);
}

.artist-stats {
    color: var(--subtext-color);
    font-size: 0.8em;
    margin-bottom: 0.3em;
}

.artist-type {
    color: var(--subtext-color);
    font-size: 0.9em;
    margin-bottom: 10px;
}

.artist-button {
    background: linear-gradient(45deg, #e9273f 0%, #c239a3 100%);
    color: var(--gradient-button-color);
    text-decoration: none;
    padding: 0.4em 0.6em;
    border-radius: 0.6em;
    font-size: 0.9em;
}

.artist-controls {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-gap: 1em;
}

.artist-controls svg {
    fill: var(--subtext-color);
    cursor: pointer;
}

.artist-controls svg:hover {
    fill: var(--main-color);
}
