.quiz-tour-name {
    margin-bottom: 1em;
    font-size: 0.8em;
    color: var(--subtext-color);
}

.miracles-field {
    display: table;
    max-width: 100%;
    table-layout: fixed;
    margin: 0 auto;
    user-select: none;
    pointer-events: none;
    margin-bottom: 1em;
}

.miracles-field div {
    display: table-cell;
    vertical-align: middle;
    width: 7.1vw;
    max-width: calc(var(--max-width) / 14);
    background: #291c86;
    border: 1px solid #fff;
    color: #fff;
    grid-gap: 1px;
    text-align: center;
    position: relative;
}

.miracles-field div span {
    aspect-ratio: 1;
    display: grid;
    align-items: center;
    font-weight: bold;
}

.question-title {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.6em;
}

.track-modifications {
    color: var(--subtext-color);
    font-size: 0.8em;
    margin-top: -0.3em;
    margin-bottom: 0.7em;
}

.track {
    margin-bottom: 1em;
}

.group-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: space-between;
}

.group-buttons button {
    min-width: 150px;
    flex: 1 1 calc(100% / 3 - 0.5em);
    text-align: center;
}

.answer-block {
    margin-top: 1em;
}

.answer {
    background: var(--block-background);
    border: 1px solid var(--border-color);
    padding: 0.8em;
    border-radius: 0.8em;
    font-size: 1.1em;
    margin-bottom: 0.3em;
}

.answer-buttons {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-gap: 0.8em;
    margin-top: 1em;
    margin-bottom: 2.5em;
}

.notes {
    margin-top: 1.5em;
}

.note {
    margin-top: 0.5em;
    border: 1px solid var(--border-color);
    border-radius: 1em;
    padding: 1em 0.5em;
}
