<header class="header">
    <a href="/" class="logo">
        <img src="/images/logo.svg?v=[{version}}">
        <div>МУЗЫКАЛЬНОЕ<br>ПРИЛОЖЕНИЕ</div>
    </a>

    <input class="side-menu" type="checkbox" id="side-menu">
    <label class="hamb" for="side-menu" onclick="CloseMenu()"><span class="hamb-line"></span></label>

    <nav class="nav">
        <ul class="menu">
            <li><a href="/artists">ИСПОЛНИТЕЛИ</a></li>
            <li><a href="/question">ТРЕНИРОВКА</a></li>
            {% if user %}
            {% if user.role != "user" %}
            <li class="subnav">
                <input class="subnav-checkbox" type="checkbox" id="admin-subnav">
                <p class="subnavbtn"><label for="admin-subnav">УПРАВЛЕНИЕ</label></p>
                <div class="subnav-content">
                    <a href="#">ИЗМЕНЕНИЕ БАЗЫ</a>
                </div>
            </li>
            {% endif %}
            <li class="menu-profile"><a href="/profile"><img class="menu-profile-img" id="menu-profile-image" src="{{user.avatar_url}}" alt="аватар пользователя {{user.username}}" /><span class="menu-profile-text"> Мой профиль</span></a></li>
            <li><a href="/settings">НАСТРОЙКИ</a></li>
            {% else %}
            <li><a href="/login">ВХОД</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
