<header class="header">
    <a href="/" class="logo">
        <img src="/images/logo.svg?v=[{version}}">
        <div>МУЗЫКАЛЬНОЕ<br>ПРИЛОЖЕНИЕ</div>
    </a>

    <input class="side-menu" type="checkbox" id="side-menu">
    <label class="hamb" for="side-menu" onclick="CloseMenu()"><span class="hamb-line"></span></label>

    <nav class="nav">
        <ul class="menu">
            <li><a href="/artists">ИСПОЛНИТЕЛИ</a></li>
            <li><a href="/question">ТРЕНИРОВКА</a></li>
            <li><a href="/artists-groups">ГРУПЫ ПОХОЖИХ ИСПОЛНИТЕЛЕЙ</a></li>
            {% if user %}
            <li><a href="/analytics">АНАЛИТИКА</a></li>
            <li><a href="/settings">НАСТРОЙКИ</a></li>
            <li class="menu-profile"><a onclick="Logout()"><img class="menu-profile-img" id="menu-profile-image" src="{{user.avatar_url}}" alt="аватар пользователя {{user.username}}" /><span class="menu-profile-text"> ВЫЙТИ</span></a></li>
            {% else %}
            <li><a href="/login">ВХОД</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
