<div class="settings-block">
    <div class="settings-item settings-input-item">
        <div class="settings-name">
            <label for="answer-time">Время ответа:</label>
        </div>
        <div>
            <input type="text" class="basic-input" id="answer-time" value="{{question_settings.answer_time}}" inputmode="numeric">
        </div>
    </div>
    <div class="settings-item-description">Количество секунд для ответа, 0 – без ограничений.</div>
    <div class="error" id="answer-time-error"></div>

    <div class="settings-line"></div>

    <div class="settings-item settings-checkbox-item">
        <div class="settings-name">
            <label for="start-from-chorus">Начинать УМ вопросы с припевов</label>
        </div>
        <div class="settings-checkbox">
            <label class="switch-checkbox">
                <input type="checkbox" id="start-from-chorus"{% if question_settings.start_from_chorus %}checked{% endif %} onchange="UpdateQuestionSettings()">
                <span class="switch-checkbox-slider"></span>
            </label>
        </div>
    </div>
    <div class="settings-item-description">При наличии припева в треке начинать воспроизведение с него.</div>

    <div class="settings-line"></div>

    <div class="settings-item settings-checkbox-item">
        <div class="settings-name">
            <label for="show-simple-artist-type"><b>Упрощённая форма записи исполнителя</b></label>
        </div>
        <div class="settings-checkbox">
            <label class="switch-checkbox">
                <input type="checkbox" id="show-simple-artist-type"{% if question_settings.show_simple_artist_type %}checked{% endif %} onchange="UpdateQuestionSettings()">
                <span class="switch-checkbox-slider"></span>
            </label>
        </div>
    </div>
    <div class="settings-item-description">Отображать формы записи исполнителей кратко: певец, исполнитель &rarr; <b>исполнитель</b>, группа, дуэт, трио, проект &rarr; <b>группа</b>.</div>

    <div class="settings-line"></div>

    <div class="settings-item">
        <div><b>Жанры</b></div>

        <div class="balance-input" id="genres">
            <div class="balance-input-mode">
                <label class="switch-checkbox">
                    <input type="checkbox" id="genres-mode">
                    <span class="switch-checkbox-slider"></span>
                </label>
                <label for="genres-mode">Режим баланса</label>
            </div>

            <div class="balance-input-balance-mode">
            {% for genre in Genre %}
                <div class="balance-input-option-name"><label for="genres-{{genre.value}}">{{genre.to_rus()}}</label></div>
                <div class="balance-input-option-track">
                    <input type="range" id="genres-{{genre.value}}" data-name="{{genre.value}}" min="0" max="100" value="50" step=5>
                </div>
                <div class="balance-input-option-value" id="genres-{{genre.value}}-value">50</div>
            {% endfor %}
            </div>
            <div class="balance-input-checkbox-mode">
            {% for genre in Genre %}
                <label class="switch-checkbox">
                    <input type="checkbox" id="genres-{{genre.value}}-checkbox">
                    <span class="switch-checkbox-slider"></span>
                </label>
                <label for="genres-{{genre.value}}-checkbox">{{genre.to_rus()}}</label>
            {% endfor %}
            </div>
        </div>
        <div class="error" id="genres-error"></div>
    </div>

    <div class="settings-line"></div>

    <div class="settings-item">
        <div><b>Годы выхода</b></div>

        <div class="balance-input" id="years">
            <div class="balance-input-mode">
                <label class="switch-checkbox">
                    <input type="checkbox" id="years-mode">
                    <span class="switch-checkbox-slider"></span>
                </label>
                <label for="years-mode">Режим баланса</label>
            </div>

            <div class="balance-input-balance-mode">
            {% for start_year, end_year in question_settings.year_intervals() %}
                <div class="balance-input-option-name"><label for="years-{{start_year}}-{{end_year}}">{{start_year if start_year else "..."}} - {{end_year if end_year else today.year}}</label></div>
                <div class="balance-input-option-track">
                    <input type="range" id="years-{{start_year}}-{{end_year}}" data-name="{{start_year}}-{{end_year}}" min="0" max="100" value="50" step=5>
                </div>
                <div class="balance-input-option-value" id="years-{{start_year}}-{{end_year}}-value">50</div>
            {% endfor %}
            </div>
            <div class="balance-input-checkbox-mode">
            {% for start_year, end_year in question_settings.year_intervals() %}
                <label class="switch-checkbox">
                    <input type="checkbox" id="years-{{start_year}}-{{end_year}}-checkbox">
                    <span class="switch-checkbox-slider"></span>
                </label>
                <label for="years-{{start_year}}-{{end_year}}-checkbox">{{start_year if start_year else "..."}} - {{end_year if end_year else today.year}}</label>
            {% endfor %}
            </div>
        </div>
        <div class="error" id="years-error"></div>
    </div>

    <div class="settings-line"></div>

    <div class="settings-item">
        <div><b>Язык</b></div>

        <div class="balance-input" id="languages">
            <div class="balance-input-mode">
                <label class="switch-checkbox">
                    <input type="checkbox" id="languages-mode">
                    <span class="switch-checkbox-slider"></span>
                </label>
                <label for="languages-mode">Режим баланса</label>
            </div>

            <div class="balance-input-balance-mode">
            {% for language in Language %}
            {% if language != Language.UNKNOWN %}
                <div class="balance-input-option-name"><label for="languages-{{language.value}}">{{language.to_rus()}}</label></div>
                <div class="balance-input-option-track">
                    <input type="range" id="languages-{{language.value}}" data-name="{{language.value}}" min="0" max="100" value="50" step=5>
                </div>
                <div class="balance-input-option-value" id="languages-{{language.value}}-value">50</div>
            {% endif %}
            {% endfor %}
            </div>
            <div class="balance-input-checkbox-mode">
            {% for language in Language %}
            {% if language != Language.UNKNOWN %}
                <label class="switch-checkbox">
                    <input type="checkbox" id="languages-{{language.value}}-checkbox">
                    <span class="switch-checkbox-slider"></span>
                </label>
                <label for="languages-{{language.value}}-checkbox">{{language.to_rus()}}</label>
            {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="error" id="languages-error"></div>
    </div>

    <div class="settings-line"></div>

    <div class="settings-item">
        <div><b>Треки (по количеству исполнителей)</b></div>

        <div class="balance-input" id="artists-count">
            <div class="balance-input-mode">
                <label class="switch-checkbox">
                    <input type="checkbox" id="artists-count-mode">
                    <span class="switch-checkbox-slider"></span>
                </label>
                <label for="artists-count-mode">Режим баланса</label>
            </div>

            <div class="balance-input-balance-mode">
            {% for artists_count in ArtistsCount %}
                <div class="balance-input-option-name"><label for="artists-count-{{artists_count.value}}">{{artists_count.to_rus()}}</label></div>
                <div class="balance-input-option-track">
                    <input type="range" id="artists-count-{{artists_count.value}}" data-name="{{artists_count.value}}" min="0" max="100" value="50" step=5>
                </div>
                <div class="balance-input-option-value" id="artists-count-{{artists_count.value}}-value">50</div>
            {% endfor %}
            </div>
            <div class="balance-input-checkbox-mode">
            {% for artists_count in ArtistsCount %}
                <label class="switch-checkbox">
                    <input type="checkbox" id="artists-count-{{artists_count.value}}-checkbox">
                    <span class="switch-checkbox-slider"></span>
                </label>
                <label for="artists-count-{{artists_count.value}}-checkbox">{{artists_count.to_rus()}}</label>
            {% endfor %}
            </div>
        </div>
        <div class="error" id="artists-count-error"></div>
    </div>

    <div class="settings-line"></div>

    <div class="settings-item">
        <div><b onclick="listenCountInput.Clear(); UpdateQuestionSettings()">Количество прослушиваний</b></div>
        <div class="interval-input" id="listen-count">
            <div class="interval-input-cell">
                <span class="interval-input-label">от</span> <input class="basic-input" data-min="0" type="text" id="listen-count-min">
            </div>
            <div class="interval-input-cell">
                <span class="interval-input-label">до</span> <input class="basic-input" data-min="0" type="text" id="listen-count-max">
            </div>
        </div>
    </div>
    <div class="settings-item-description">
        <p>Возможно указание в коротком формате: <b>20К</b>, <b>3.5M</b> (подходят как английские, так и русские буквы). Для быстрого изменения доступны следующие варианты:</p>
        <ul>
            <li><span class="settings-item-label" onclick="listenCountInput.SetValue(['200K', '']); UpdateQuestionSettings()">От 200K</span> – исполнители с более чем 200 тысячами прослушиваний;</li>
            <li><span class="settings-item-label" onclick="listenCountInput.SetValue(['', '1M']); UpdateQuestionSettings()">До 1М</span> – исполнители с менее чем 1 миллионом прослушиваний.</li>
        </ul>
    </div>
    <div class="error" id="listen-count-error"></div>

    <div class="settings-line"></div>

    <div class="settings-item">
        <div><b>Вопросы</b></div>

        <div class="balance-input" id="question-types">
            <div class="balance-input-mode">
                <label class="switch-checkbox">
                    <input type="checkbox" id="question-types-mode">
                    <span class="switch-checkbox-slider"></span>
                </label>
                <label for="question-types-mode">Режим баланса</label>
            </div>

            <div class="balance-input-balance-mode">
            {% for question_type in QuestionType %}
                <div class="balance-input-option-name"><label for="question-types-{{question_type.value}}">{{question_type.to_rus()}}</label></div>
                <div class="balance-input-option-track">
                    <input type="range" id="question-types-{{question_type.value}}" data-name="{{question_type.value}}" min="0" max="100" value="50" step=5>
                </div>
                <div class="balance-input-option-value" id="question-types-{{question_type.value}}-value">50</div>
            {% endfor %}
            </div>
            <div class="balance-input-checkbox-mode">
            {% for question_type in QuestionType %}
                <label class="switch-checkbox">
                    <input type="checkbox" id="question-types-{{question_type.value}}-checkbox">
                    <span class="switch-checkbox-slider"></span>
                </label>
                <label for="question-types-{{question_type.value}}-checkbox">{{question_type.to_rus()}}</label>
            {% endfor %}
            </div>
        </div>
        <div class="error" id="question-types-error"></div>
    </div>

    <div class="settings-line"></div>

    <div class="settings-item">
        <div><b onclick="trackPositionInput.Clear(); UpdateQuestionSettings()">Позиция трека у исполнителя</b></div>
        <div class="interval-input" id="track-position">
            <div class="interval-input-cell">
                <span class="interval-input-label">от</span> <input class="basic-input" data-min="1" type="text" id="track-position-min">
            </div>
            <div class="interval-input-cell">
                <span class="interval-input-label">до</span> <input class="basic-input" data-min="1" type="text" id="track-position-max">
            </div>
        </div>
    </div>
    <div class="settings-item-description">
        <p>Диапазон позиций в оригинальном списке (не среди добавленных) треков исполнителя. Для быстрого изменения доступны следующие варианты:</p>
        <ul>
            <li><span class="settings-item-label" onclick="trackPositionInput.SetValue(['', 1]); UpdateQuestionSettings()">Самые-самые</span> – первые треки исполнителей;</li>
            <li><span class="settings-item-label" onclick="trackPositionInput.SetValue(['', 5]); UpdateQuestionSettings()">Только хиты</span> – треки среди ТОП-5 треков исполнителей;</li>
            <li><span class="settings-item-label" onclick="trackPositionInput.SetValue([6, '']); UpdateQuestionSettings()">Без хитов</span> – треки, находящиеся ниже 5-ой строчки.</li>
        </ul>
    </div>
    <div class="error" id="track-position-error"></div>

    <div class="settings-line"></div>

    <div class="settings-item settings-input-item">
        <div class="settings-name">
            <label id="repeat-incorrect-probability-label" for="repeat-incorrect-probability">Вероятность повтора вопроса (%):</label>
        </div>
        <div>
            <input type="text" min="0" max="100" class="basic-input" id="repeat-incorrect-probability" value="{{question_settings.repeat_incorrect_probability * 100|round(1)}}">
        </div>
    </div>

    <div class="settings-item-description">
        <p>Как часто можно повторно задавать вопрос, на который был дан ответ вместо загадывания нового. Для быстрого изменения доступны следующие варианты:</p>
        <ul>
            <li><span class="settings-item-label" onclick="repeatIncorrectProbabilityInput.SetValue(0); UpdateQuestionSettings()">никогда (0%)</span> – не повторять вовсе;</li>
            <li><span class="settings-item-label" onclick="repeatIncorrectProbabilityInput.SetValue(5); UpdateQuestionSettings()">иногда (5%)</span> – примерно каждый 20-ый вопрос будет являться повтором;</li>
            <li><span class="settings-item-label" onclick="repeatIncorrectProbabilityInput.SetValue(25); UpdateQuestionSettings()">часто (25%)</span> – примерно каждый четвёртый вопрос будет являться повтором.</li>
        </ul>
    </div>
    <div class="error" id="repeat-incorrect-probability-error"></div>

    <div class="settings-line"></div>

    <div class="settings-item settings-input-item">
        <div class="settings-name">
            <label id="repeat-incorrect-strategy-label" for="repeat-incorrect-strategy">Стратегия повтора:</label>
        </div>
        <div>
            <select class="basic-select" id="repeat-incorrect-strategy" value="{{question_settings.repeat_incorrect_strategy}}" onchange="UpdateQuestionSettings()">
                <option value="old_mistakes"{% if question_settings.repeat_incorrect_strategy.value == "old_mistakes" %} selected{% endif %}>давние ошибки</option>
                <option value="recent_mistakes"{% if question_settings.repeat_incorrect_strategy.value == "recent_mistakes" %} selected{% endif %}>свежие ошибки</option>
                <option value="weighted_artists"{% if question_settings.repeat_incorrect_strategy.value == "weighted_artists" %} selected{% endif %}>незнакомые исполнители</option>
                <option value="interval_tracks"{% if question_settings.repeat_incorrect_strategy.value == "interval_tracks" %} selected{% endif %}>интервальное запоминание</option>
            </select>
        </div>
    </div>
    <div class="settings-item-description">
        <p>Вопрос для повтора выбирается среди последних 10000 загаданных вопросов. Для разных целей тренировок имеются различные стратегии:</p>
        <ul>
            <li><b>давние ошибки</b> – вероятность выбрать вопрос с <b>неверным ответом</b> выше для старых ответов;</li>
            <li><b>свежие ошибки</b> – вероятность выбрать вопрос с <b>неверным ответом</b> выше для недавних ответов;</li>
            <li><b>незнакомые исполнители</b> – вероятность выбрать вопрос с <b>неверным ответом</b> выше для исполнителей с более высокой долей некорректных ответов;</li>
            <li><b>интервальное запоминание</b> – каждый корректный ответ уменьшает вероятость повтора вопроса вдвое, а некорректный сбрасывает вероятность до 1.</li>
        </ul>
        <p>Каждая из стратегий назначает вес каждому из вопросов, после чего взвешенно выбирается один из них в качестве повтора.</p>
    </div>
</div>

<h4>Модификация треков</h4>

<div class="settings-block">
    <div class="settings-item settings-input-item">
        <div class="settings-name">
            <label id="track-modifications-probability-label" for="track-modifications-probability">Вероятность модификаций (%):</label>
        </div>
        <div>
            <input type="text" min="0" max="100" class="basic-input" id="track-modifications-probability">
        </div>
    </div>

    <div class="settings-item-description">Вероятность применения модификации трека.</div>
    <div class="error" id="track-modifications-probability-error"></div>

    <div class="settings-line"></div>

    <div class="settings-item settings-checkbox-item">
        <div class="settings-name">
            <label for="change-playback-rate"><b>Изменять скорость трека</b></label>
        </div>
        <div class="settings-checkbox">
            <label class="switch-checkbox">
                <input type="checkbox" id="change-playback-rate"{% if question_settings.track_modifications.change_playback_rate %}checked{% endif %} onchange="UpdateQuestionSettings()">
                <span class="switch-checkbox-slider"></span>
            </label>
        </div>
    </div>
</div>