<label onclick="tagsInput.Clear()">Теги</label>
<div class="multi-select" id="tags-filter">
    <div class="multi-select-option" data-name="russian">русское</div>
    <div class="multi-select-option" data-name="foreign">зарубежное</div>
    <div class="multi-select-option" data-name="zeroes">нулевые</div>
    <div class="multi-select-option" data-name="modern">современное</div>
    <div class="multi-select-option" data-name="rock">рок</div>
    <div class="multi-select-option" data-name="hip-hop">рэп</div>
    <div class="multi-select-option" data-name="hits">хиты</div>
</div>
