<div class="multi-select" id="tags-filter">
    <div class="multi-select-option" data-name="russian">русское</div>
    <div class="multi-select-option" data-name="foreign">зарубежное</div>
    <div class="multi-select-option" data-name="1990">девяностые</div>
    <div class="multi-select-option" data-name="2000">нулевые</div>
    <div class="multi-select-option" data-name="2010">десятые</div>
    <div class="multi-select-option" data-name="modern">современное</div>
    <div class="multi-select-option" data-name="2020">2020-ые</div>
    <div class="multi-select-option" data-name="rock">рок</div>
    <div class="multi-select-option" data-name="hip-hop">рэп</div>
    <div class="multi-select-option" data-name="pop">попса</div>
    <div class="multi-select-option" data-name="hits">хиты</div>
    <div class="multi-select-option" data-name="unhackneyed">незаезженное</div>
</div>
